Comprobador de conexiones_MI40.json
[
    {
        "id": "c3367d12564d11c6",
        "type": "tab",
        "label": "Inicio",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a4a07f451bd4dad9",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e340100c9b9fe682",
        "type": "tab",
        "label": "OPCUA",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "4e702d50e851e07d",
        "type": "tab",
        "label": "MODBUS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fd4b5ffea49ae0ba",
        "type": "tab",
        "label": "IOT2050 Communication Example",
        "disabled": true,
        "info": ""
    },
    {
        "id": "9e98528a1a8ac073",
        "type": "tab",
        "label": "IIoT OPC UA Flex Server",
        "disabled": false,
        "info": ""
    },
    {
        "id": "96df9d1b.b1b87",
        "type": "tab",
        "label": "Context Flex-Server",
        "disabled": false,
        "info": ""
    },
    {
        "id": "93ffc0ab.75647",
        "type": "subflow",
        "name": "Subflow OPC UA",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 220,
                "y": 80,
                "wires": [
                    {
                        "id": "4ec01e92.bb7e1"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 660,
                "y": 80,
                "wires": [
                    {
                        "id": "28e42fe8.b5911",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1160,
                "y": 120,
                "wires": [
                    {
                        "id": "6886a120.5081c",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1160,
                "y": 160,
                "wires": [
                    {
                        "id": "226ca384.7f55cc",
                        "port": 0
                    }
                ]
            },
            {
                "x": 660,
                "y": 140,
                "wires": [
                    {
                        "id": "9f94eb3.35c4c18",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1160,
                "y": 200,
                "wires": [
                    {
                        "id": "eb514761.bd6be8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1160,
                "y": 240,
                "wires": [
                    {
                        "id": "8de1cd77.e1e95",
                        "port": 0
                    }
                ]
            },
            {
                "x": 660,
                "y": 240,
                "wires": [
                    {
                        "id": "e484afbb.e8d98",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "e3ce149a6a583c48",
        "type": "junction",
        "z": "a4a07f451bd4dad9",
        "x": 1020,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "89d8e7aa0691b761",
        "type": "junction",
        "z": "a4a07f451bd4dad9",
        "x": 1020,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "12fc471dcc5f019d",
        "type": "mqtt-broker",
        "name": "Open broker - 1883",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "389b7dfe828d514b",
        "type": "mqtt-broker",
        "name": "Security broker 1884",
        "broker": "127.0.0.1",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3b81367c79146636",
        "type": "modbus-client",
        "name": "Servidor MI40",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "368bc8971bfe8515",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Comprobador de conexiones",
            "hideToolbar": "true",
            "allowSwipe": "mouse",
            "lockMenu": "true",
            "allowTempTheme": "none",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 1,
                "gy": 6,
                "cx": 1,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b746f9e569c9a43f",
        "type": "ui_tab",
        "name": "Inicio",
        "icon": "sync",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6d55cce7882dc712",
        "type": "ui_tab",
        "name": "MQTT",
        "icon": "settings_input_antenna",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3649639cae32096a",
        "type": "ui_tab",
        "name": "OPC UA Público",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "a7e30670fb6576fa",
        "type": "ui_tab",
        "name": "OPC UA Privado",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "f79b5f573c8cbbb4",
        "type": "ui_tab",
        "name": "OPC UA Selector",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2c349bb1f9208683",
        "type": "ui_tab",
        "name": "MODBUS",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "77fcbd12336f9e8f",
        "type": "ui_group",
        "name": "Inicio",
        "tab": "b746f9e569c9a43f",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7b8a04e92de7a63b",
        "type": "ui_group",
        "name": "Botones de control",
        "tab": "6d55cce7882dc712",
        "order": 1,
        "disp": false,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2caf7620b7cbd0b2",
        "type": "ui_group",
        "name": "Control OPC UA Público",
        "tab": "3649639cae32096a",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f52f7f9d7057398e",
        "type": "ui_group",
        "name": "Tipo de servidor",
        "tab": "f79b5f573c8cbbb4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9ba0ed5ba846c5e9",
        "type": "ui_group",
        "name": "Control OPC UA Privado",
        "tab": "a7e30670fb6576fa",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "95b70233.1d5dc",
        "type": "ui_group",
        "name": "Default",
        "tab": "b746f9e569c9a43f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fb4ca7c3.864058",
        "type": "ui_group",
        "name": "Default",
        "tab": "64be35cd.7831bc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8ad9d437f110e9ee",
        "type": "ui_group",
        "name": "Señales fija",
        "tab": "6d55cce7882dc712",
        "order": 2,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9a95326a83745020",
        "type": "ui_group",
        "name": "Señal de texto",
        "tab": "6d55cce7882dc712",
        "order": 3,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fd47dcad5a2ee79a",
        "type": "ui_group",
        "name": "Señal continua valor elegible",
        "tab": "6d55cce7882dc712",
        "order": 4,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e67c7bc1b7f7b417",
        "type": "ui_group",
        "name": "Señal periódica",
        "tab": "6d55cce7882dc712",
        "order": 5,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c1fd1f778554d218",
        "type": "ui_group",
        "name": "Botones de control",
        "tab": "2c349bb1f9208683",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1378c63775b22143",
        "type": "ui_spacer",
        "z": "c3367d12564d11c6",
        "name": "spacer",
        "group": "",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "8a9341283c7819b6",
        "type": "ui_spacer",
        "z": "e340100c9b9fe682",
        "name": "spacer",
        "group": "2caf7620b7cbd0b2",
        "order": 9,
        "width": 8,
        "height": 1
    },
    {
        "id": "6468c59753704e65",
        "type": "ui_spacer",
        "z": "e340100c9b9fe682",
        "name": "spacer",
        "group": "2caf7620b7cbd0b2",
        "order": 15,
        "width": "1",
        "height": "1"
    },
    {
        "id": "88b7fb90bc57b09b",
        "type": "ui_spacer",
        "z": "e340100c9b9fe682",
        "name": "spacer",
        "group": "9ba0ed5ba846c5e9",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "72c53e6776aa658f",
        "type": "ui_spacer",
        "z": "4e702d50e851e07d",
        "name": "spacer",
        "group": "c1fd1f778554d218",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "2a260c924acc1491",
        "type": "ui_spacer",
        "z": "4e702d50e851e07d",
        "name": "spacer",
        "group": "c1fd1f778554d218",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "418bda6ef9e835e5",
        "type": "ui_spacer",
        "z": "4e702d50e851e07d",
        "name": "spacer",
        "group": "c1fd1f778554d218",
        "order": 11,
        "width": 6,
        "height": 1
    },
    {
        "id": "77fdc29e.3c49ec",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://127.0.0.1:55489",
        "endpointMustExist": false,
        "keepSessionAlive": true,
        "loginEnabled": false,
        "name": "Servidor abierto OPC UA",
        "showErrors": true,
        "securityPolicy": "None",
        "securityMode": "None",
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": ""
    },
    {
        "id": "512391c17844a41a",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://127.0.0.1:55490",
        "endpointMustExist": false,
        "keepSessionAlive": true,
        "loginEnabled": true,
        "name": "Servidor con usuario OPC UA",
        "showErrors": false,
        "securityPolicy": "Basic256Sha256",
        "securityMode": "Sign",
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": "10"
    },
    {
        "id": "eeb32076a0ef250d",
        "type": "ui_spacer",
        "z": "a4a07f451bd4dad9",
        "name": "spacer",
        "group": "7b8a04e92de7a63b",
        "order": 2,
        "width": 20,
        "height": 1
    },
    {
        "id": "eccd3ded438aa0cd",
        "type": "ui_spacer",
        "z": "a4a07f451bd4dad9",
        "name": "spacer",
        "group": "7b8a04e92de7a63b",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "c0048b63cc18950c",
        "type": "ui_spacer",
        "z": "a4a07f451bd4dad9",
        "name": "spacer",
        "group": "7b8a04e92de7a63b",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "0debae5f533cb85b",
        "type": "modbus-client",
        "name": "ModbusServerSettings",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.252",
        "tcpPort": "503",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": 2,
        "commandDelay": 1,
        "clientTimeout": 5500,
        "reconnectOnTimeout": false,
        "reconnectTimeout": 1000,
        "parallelUnitIdsAllowed": false
    },
    {
        "id": "1b48238c21b13cef",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://localhost:55489",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "4ec01e92.bb7e1",
        "type": "delay",
        "z": "93ffc0ab.75647",
        "name": "Delay 1s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 360,
        "y": 80,
        "wires": [
            [
                "28e42fe8.b5911"
            ]
        ]
    },
    {
        "id": "28e42fe8.b5911",
        "type": "change",
        "z": "93ffc0ab.75647",
        "name": "Set Object",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"opcuaCommand\":\"setFolder\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ns=5;s=MI40",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 80,
        "wires": [
            [
                "acbd2051.9f061"
            ]
        ]
    },
    {
        "id": "cfbe7953.6537f8",
        "type": "delay",
        "z": "93ffc0ab.75647",
        "name": "Delay 1s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 860,
        "y": 120,
        "wires": [
            [
                "6886a120.5081c"
            ]
        ]
    },
    {
        "id": "6886a120.5081c",
        "type": "change",
        "z": "93ffc0ab.75647",
        "name": "AddBOOL",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"opcuaCommand\": \"addVariable\" }",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ns=5;s=Var_BOOL;datatype=Boolean",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "8b3a9258.78f89",
        "type": "delay",
        "z": "93ffc0ab.75647",
        "name": "Delay 2s",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 860,
        "y": 160,
        "wires": [
            [
                "226ca384.7f55cc"
            ]
        ]
    },
    {
        "id": "226ca384.7f55cc",
        "type": "change",
        "z": "93ffc0ab.75647",
        "name": "AddDouble",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"opcuaCommand\": \"addVariable\" }",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ns=5;s=Var_Double;datatype=Double",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "79e997a2.05fc18",
        "type": "delay",
        "z": "93ffc0ab.75647",
        "name": "Delay 3s",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 860,
        "y": 200,
        "wires": [
            [
                "eb514761.bd6be8"
            ]
        ]
    },
    {
        "id": "eb514761.bd6be8",
        "type": "change",
        "z": "93ffc0ab.75647",
        "name": "AddINT",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"opcuaCommand\": \"addVariable\" }",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ns=5;s=Var_INT;datatype=Int32",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "dd07749f.a2d2f8",
        "type": "delay",
        "z": "93ffc0ab.75647",
        "name": "Delay 4s",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 860,
        "y": 240,
        "wires": [
            [
                "8de1cd77.e1e95"
            ]
        ]
    },
    {
        "id": "8de1cd77.e1e95",
        "type": "change",
        "z": "93ffc0ab.75647",
        "name": "AddSTRING",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"opcuaCommand\": \"addVariable\" }",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ns=5;s=Var_STRING;datatype=String",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "9f94eb3.35c4c18",
        "type": "change",
        "z": "93ffc0ab.75647",
        "name": "Create Object",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"opcuaCommand\": \"addFolder\" }",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ns=5;s=MI40_1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 140,
        "wires": [
            [
                "95df3c61.a020d"
            ]
        ]
    },
    {
        "id": "acbd2051.9f061",
        "type": "delay",
        "z": "93ffc0ab.75647",
        "name": "Delay 1s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 360,
        "y": 140,
        "wires": [
            [
                "9f94eb3.35c4c18"
            ]
        ]
    },
    {
        "id": "95df3c61.a020d",
        "type": "delay",
        "z": "93ffc0ab.75647",
        "name": "Delay 1s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 380,
        "y": 200,
        "wires": [
            [
                "e484afbb.e8d98"
            ]
        ]
    },
    {
        "id": "e484afbb.e8d98",
        "type": "change",
        "z": "93ffc0ab.75647",
        "name": "Set Object",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"opcuaCommand\": \"setFolder\" }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 200,
        "wires": [
            [
                "cfbe7953.6537f8",
                "8b3a9258.78f89",
                "79e997a2.05fc18",
                "dd07749f.a2d2f8"
            ]
        ]
    },
    {
        "id": "292047a1.c4f448",
        "type": "comment",
        "z": "93ffc0ab.75647",
        "name": "OPC UA",
        "info": "",
        "x": 200,
        "y": 140,
        "wires": []
    },
    {
        "id": "eabb9ee36b27428c",
        "type": "change",
        "z": "c3367d12564d11c6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\" : \"MQTT\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 60,
        "wires": [
            [
                "2532cddade43907e"
            ]
        ]
    },
    {
        "id": "3204f68851411eef",
        "type": "change",
        "z": "c3367d12564d11c6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\" : \"OPC UA Selector\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 100,
        "wires": [
            [
                "2532cddade43907e"
            ]
        ]
    },
    {
        "id": "9ac19da2b727f702",
        "type": "change",
        "z": "c3367d12564d11c6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\" : \"MODBUS\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 140,
        "wires": [
            [
                "2532cddade43907e"
            ]
        ]
    },
    {
        "id": "b5630eefdd32bf55",
        "type": "ui_button",
        "z": "c3367d12564d11c6",
        "name": "",
        "group": "77fcbd12336f9e8f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "MQTT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 60,
        "wires": [
            [
                "eabb9ee36b27428c"
            ]
        ]
    },
    {
        "id": "54eeee06ed9f4e72",
        "type": "ui_button",
        "z": "c3367d12564d11c6",
        "name": "",
        "group": "77fcbd12336f9e8f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OPC UA",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 100,
        "wires": [
            [
                "3204f68851411eef"
            ]
        ]
    },
    {
        "id": "b87474862a9e6524",
        "type": "ui_button",
        "z": "c3367d12564d11c6",
        "name": "",
        "group": "77fcbd12336f9e8f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Modbus",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 140,
        "wires": [
            [
                "9ac19da2b727f702"
            ]
        ]
    },
    {
        "id": "2532cddade43907e",
        "type": "ui_ui_control",
        "z": "c3367d12564d11c6",
        "name": "",
        "events": "all",
        "x": 700,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "593469ed174b2846",
        "type": "change",
        "z": "a4a07f451bd4dad9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\" : \"Inicio\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 80,
        "wires": [
            [
                "dd6227ce370e0d7c"
            ]
        ]
    },
    {
        "id": "8cf8039fb4ece043",
        "type": "mqtt out",
        "z": "a4a07f451bd4dad9",
        "name": "Enviar señal fija - Seguro",
        "topic": "E_Signal_Fixed",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "389b7dfe828d514b",
        "x": 810,
        "y": 700,
        "wires": []
    },
    {
        "id": "1cf324b9ec9765d7",
        "type": "mqtt out",
        "z": "a4a07f451bd4dad9",
        "name": "Enviar señal valor previsible - Abierto",
        "topic": "E_Señal_Previsible",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12fc471dcc5f019d",
        "x": 890,
        "y": 1340,
        "wires": []
    },
    {
        "id": "04ceb6db9725dc53",
        "type": "debug",
        "z": "a4a07f451bd4dad9",
        "name": "Broker Status Events",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 300,
        "wires": []
    },
    {
        "id": "7968aef41b60a2c0",
        "type": "debug",
        "z": "a4a07f451bd4dad9",
        "name": "Broker Publish Events",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 340,
        "wires": []
    },
    {
        "id": "f1fe0b6a6377fcc3",
        "type": "mqtt out",
        "z": "a4a07f451bd4dad9",
        "name": "Enviar señal fija - Abierto",
        "topic": "E_Signal_Fixed",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12fc471dcc5f019d",
        "x": 810,
        "y": 580,
        "wires": []
    },
    {
        "id": "e5523117c54a9cf2",
        "type": "debug",
        "z": "a4a07f451bd4dad9",
        "name": "Broker Status Events",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 400,
        "wires": []
    },
    {
        "id": "af5c9da9dba36717",
        "type": "debug",
        "z": "a4a07f451bd4dad9",
        "name": "Broker Publish Events",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 440,
        "wires": []
    },
    {
        "id": "042f3947673eb6cc",
        "type": "mqtt out",
        "z": "a4a07f451bd4dad9",
        "name": "Enviar valor/texto - Seguro",
        "topic": "E_Signal_Value",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "389b7dfe828d514b",
        "x": 820,
        "y": 920,
        "wires": []
    },
    {
        "id": "5c8fc7e9bd921210",
        "type": "mqtt out",
        "z": "a4a07f451bd4dad9",
        "name": "Enviar valor/texto - Abierto",
        "topic": "E_Signal_Value",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12fc471dcc5f019d",
        "x": 820,
        "y": 860,
        "wires": []
    },
    {
        "id": "4563d73e7abae5e0",
        "type": "mqtt out",
        "z": "a4a07f451bd4dad9",
        "name": "Enviar señal valor previsible - Seguro",
        "topic": "E_Señal_Previsible",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12fc471dcc5f019d",
        "x": 890,
        "y": 1400,
        "wires": []
    },
    {
        "id": "ebfa8ec020cb1ae2",
        "type": "inject",
        "z": "a4a07f451bd4dad9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 140,
        "wires": [
            [
                "51fb8a6747933113"
            ]
        ]
    },
    {
        "id": "d4e803eea84281e3",
        "type": "function",
        "z": "a4a07f451bd4dad9",
        "name": "Obtener IPV4",
        "func": "msg.Ipv4 = msg.payload[0].address; \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 140,
        "wires": [
            [
                "ca26a58e12289d34"
            ]
        ]
    },
    {
        "id": "350de05a9f50c05e",
        "type": "debug",
        "z": "a4a07f451bd4dad9",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 180,
        "wires": []
    },
    {
        "id": "5ee1556f46ef87b5",
        "type": "comment",
        "z": "a4a07f451bd4dad9",
        "name": "",
        "info": "",
        "x": 260,
        "y": 260,
        "wires": []
    },
    {
        "id": "09f7f25efe42a9ad",
        "type": "inject",
        "z": "a4a07f451bd4dad9",
        "name": "Interval Trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.2",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 1340,
        "wires": [
            [
                "8ef919da2f76992b"
            ]
        ]
    },
    {
        "id": "8ef919da2f76992b",
        "type": "function",
        "z": "a4a07f451bd4dad9",
        "name": "Generador de Señal Senoidal Configurable",
        "func": "// En el nodo de función\nconst max = msg.topic === \"maxValue\" ? parseFloat(msg.payload) : flow.get('max') || 5;\nconst min = msg.topic === \"minValue\" ? parseFloat(msg.payload) : flow.get('min') || -5;\nconst enable = flow.get('enable') || false;\n\n// Guardar los valores en el contexto de flujo para uso futuro\nif (msg.topic === \"maxValue\") {\n    flow.set('max', max);\n} else if (msg.topic === \"minValue\") {\n    flow.set('min', min);\n}\n\nconst amplitude = (max - min) / 2;\nconst offset = (max + min) / 2;\nconst frequency = 0.7; // Frecuencia en Hz\nconst currentTime = Date.now();\n\n// Cálculo de la señal senoidal\nconst period = 1000 / frequency;\nconst angle = 2 * Math.PI * (currentTime % period) / period;\n    msg.payload = amplitude * Math.sin(angle) + offset;\n    \nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1340,
        "wires": [
            [
                "7dfa2c8ae51ca9ce",
                "1cf324b9ec9765d7",
                "4563d73e7abae5e0"
            ]
        ]
    },
    {
        "id": "storeValueNode",
        "type": "change",
        "z": "a4a07f451bd4dad9",
        "name": "Guarda número",
        "rules": [
            {
                "t": "set",
                "p": "latestValue",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "x": 520,
        "y": 860,
        "wires": [
            [
                "5c8fc7e9bd921210",
                "042f3947673eb6cc"
            ]
        ]
    },
    {
        "id": "injectNode",
        "type": "inject",
        "z": "a4a07f451bd4dad9",
        "name": "Periodic Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "latestValue",
        "payloadType": "flow",
        "x": 270,
        "y": 800,
        "wires": [
            [
                "storeValueNode"
            ]
        ]
    },
    {
        "id": "d9d6bfd4f8141582",
        "type": "mqtt out",
        "z": "a4a07f451bd4dad9",
        "name": "Enviar texto - Seguro",
        "topic": "E_Signal_Texto",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "389b7dfe828d514b",
        "x": 800,
        "y": 1040,
        "wires": []
    },
    {
        "id": "2183cc828e7e4e98",
        "type": "mqtt out",
        "z": "a4a07f451bd4dad9",
        "name": "Enviar texto - Abierto",
        "topic": "E_Signal_Texto",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12fc471dcc5f019d",
        "x": 800,
        "y": 980,
        "wires": []
    },
    {
        "id": "9d0a64c872507d87",
        "type": "aedes broker",
        "z": "a4a07f451bd4dad9",
        "name": "Broker abierto - 1883",
        "mqtt_port": "1883",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 260,
        "y": 320,
        "wires": [
            [
                "04ceb6db9725dc53"
            ],
            [
                "7968aef41b60a2c0"
            ]
        ]
    },
    {
        "id": "e0282c79aa5155f2",
        "type": "aedes broker",
        "z": "a4a07f451bd4dad9",
        "name": "Broker seguro - 1884",
        "mqtt_port": "1884",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 260,
        "y": 420,
        "wires": [
            [
                "e5523117c54a9cf2"
            ],
            [
                "af5c9da9dba36717"
            ]
        ]
    },
    {
        "id": "51fb8a6747933113",
        "type": "hostip",
        "z": "a4a07f451bd4dad9",
        "name": "Host IP",
        "x": 500,
        "y": 140,
        "wires": [
            [
                "d4e803eea84281e3",
                "350de05a9f50c05e"
            ]
        ]
    },
    {
        "id": "581fe909da042586",
        "type": "ui_button",
        "z": "a4a07f451bd4dad9",
        "name": "",
        "group": "7b8a04e92de7a63b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "INICIO",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "593469ed174b2846"
            ]
        ]
    },
    {
        "id": "dbcfce3f083ca910",
        "type": "ui_button",
        "z": "a4a07f451bd4dad9",
        "name": "",
        "group": "8ad9d437f110e9ee",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "TRUE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 600,
        "wires": [
            [
                "f1fe0b6a6377fcc3",
                "8cf8039fb4ece043"
            ]
        ]
    },
    {
        "id": "ec26d9b7c7dd433c",
        "type": "ui_button",
        "z": "a4a07f451bd4dad9",
        "name": "",
        "group": "8ad9d437f110e9ee",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "FALSE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 300,
        "y": 680,
        "wires": [
            [
                "8cf8039fb4ece043",
                "f1fe0b6a6377fcc3"
            ]
        ]
    },
    {
        "id": "minValueInput",
        "type": "ui_slider",
        "z": "a4a07f451bd4dad9",
        "name": "Valor Mínimo",
        "label": "Min Value",
        "tooltip": "Ajusta el valor mínimo de la señal",
        "group": "e67c7bc1b7f7b417",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "minValue",
        "topicType": "str",
        "min": "-0.01",
        "max": "-10",
        "step": "0.5",
        "className": "",
        "x": 230,
        "y": 1400,
        "wires": [
            [
                "8ef919da2f76992b"
            ]
        ]
    },
    {
        "id": "maxValueInput",
        "type": "ui_slider",
        "z": "a4a07f451bd4dad9",
        "name": "Valor Máximo",
        "label": "Max Value",
        "tooltip": "Ajusta el valor máximo de la señal",
        "group": "e67c7bc1b7f7b417",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "maxValue",
        "topicType": "str",
        "min": "0.01",
        "max": 10,
        "step": "0.5",
        "className": "",
        "x": 220,
        "y": 1280,
        "wires": [
            [
                "8ef919da2f76992b"
            ]
        ]
    },
    {
        "id": "c43ec5c5e485c5a3",
        "type": "ui_text_input",
        "z": "a4a07f451bd4dad9",
        "name": "",
        "label": "Number to sent",
        "tooltip": "",
        "group": "fd47dcad5a2ee79a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 280,
        "y": 860,
        "wires": [
            [
                "storeValueNode"
            ]
        ]
    },
    {
        "id": "3c72ee26ba255ae4",
        "type": "ui_text_input",
        "z": "a4a07f451bd4dad9",
        "name": "",
        "label": "Text to sent",
        "tooltip": "",
        "group": "9a95326a83745020",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 290,
        "y": 980,
        "wires": [
            [
                "2183cc828e7e4e98",
                "d9d6bfd4f8141582"
            ]
        ]
    },
    {
        "id": "e3f5d9e62707f556",
        "type": "ui_text",
        "z": "a4a07f451bd4dad9",
        "d": true,
        "group": "8ad9d437f110e9ee",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Señal fija",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 280,
        "y": 520,
        "wires": []
    },
    {
        "id": "49de3f16438957cf",
        "type": "ui_text",
        "z": "a4a07f451bd4dad9",
        "d": true,
        "group": "fd47dcad5a2ee79a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Señal continua de valor elegible",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 290,
        "y": 760,
        "wires": []
    },
    {
        "id": "0511dff8aaaf44e5",
        "type": "ui_text",
        "z": "a4a07f451bd4dad9",
        "d": true,
        "group": "e67c7bc1b7f7b417",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Señal periódica enviada",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 230,
        "y": 1220,
        "wires": []
    },
    {
        "id": "ca26a58e12289d34",
        "type": "ui_text",
        "z": "a4a07f451bd4dad9",
        "group": "7b8a04e92de7a63b",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "IP Maestro",
        "format": "{{msg.Ipv4}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 970,
        "y": 140,
        "wires": []
    },
    {
        "id": "6066278368a197bb",
        "type": "ui_text",
        "z": "a4a07f451bd4dad9",
        "d": true,
        "group": "9a95326a83745020",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Señal de texto",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 280,
        "y": 940,
        "wires": []
    },
    {
        "id": "7dfa2c8ae51ca9ce",
        "type": "ui_chart",
        "z": "a4a07f451bd4dad9",
        "name": "Gráfico de Señal periódica",
        "group": "e67c7bc1b7f7b417",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "xformat": "HH:mm:ss",
        "nodata": "",
        "dot": true,
        "ymin": "-10.5",
        "ymax": "10.5",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "dd6227ce370e0d7c",
        "type": "ui_ui_control",
        "z": "a4a07f451bd4dad9",
        "name": "",
        "events": "all",
        "x": 740,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "7e0b92f48157c750",
        "type": "ui_template",
        "z": "a4a07f451bd4dad9",
        "group": "7b8a04e92de7a63b",
        "name": "Virtual Keyboard",
        "order": 8,
        "width": 0,
        "height": 0,
        "format": "<div id=\"empty\"></div>\n<button class=\"VK\">V-KeyBoard On</button>\n\n<!-- The Modal -->\n<div id=\"myModal\" class=\"modal\">\n\n  <!-- Modal content -->\n  <div class=\"modal-content\">\n      <div class=\"modal-header\">\n      <span class=\"close\" onclick=\"closeModal()\">&times;</span>\n      <h2 id=\"vkeyname\" style=\"background-color: aliceblue !important; color: black !important; text-align: center; min-height: 30px;\">V-Keyboard</h2>\n    </div>\n    <div class=\"modal-body\">\n        <div id=\"keyboard\"></div>\n        <div>\n        </div>\n    </div>\n  </div>\n</div>\n\n<style>\n.VK{\n    position: fixed;\n    top: 60px;\n    right: 20px;\n    height: 30px;\n}\n</style>\n\n<script>\n\nvar clickState = 1;\nvar btn = document.querySelector('.VK');\n\nbtn.addEventListener('click', function(){\n\n  if (clickState == 0) {\n    this.textContent = 'V-KeyBoard On';\n    modal = document.getElementById('myModal');\n    clickState = 1;\n  } else {\n    this.textContent = 'V-KeyBoard Off';\n    modal = document.getElementById('empty');\n    clickState = 0;\n  }\n\n});\n</script>\n\n<script>\n    // Get the modal\nvar modal = document.getElementById('myModal');\nvar inputTags;\nvar inputType;\nvar inputTarget;\n\nvar getinputs = function() {\n    inputTags = document.getElementsByTagName(\"input\");\n    console.log(inputTags)\n    for (var i = 0; i < inputTags.length; i++) {\n        inputTags[i].addEventListener('click', openModal, false)\n    }\n}\n\nsetTimeout(function(){ getinputs(); }, 1000);\n\nvar openModal = function() {\n    inputType = event.target.type\n    inputTarget = event.target\n    var layoutName;\n    if (inputType == \"number\"){\n        //inputTarget.type = \"number\" //hack because chrome doesn't allow setselection in number inputs\n        //inputTarget.value = \"\"\n        layoutName = \"numbers_only\"\n    }else{\n        layoutName = \"english\"\n    }\n    $('#vkeyname').text(event.target.value)\n    $('#keyboard').unbind().removeData();\n    modal.style.display = \"block\";\n    $('#keyboard').jkeyboard({\n        layout: layoutName,\n        input: $('#'+$(this).attr('id'))\n    });\n}\n\n\n// Get the <span> element that closes the modal\nvar span = document.getElementsByClassName(\"close\")[0];\n\n// When the user clicks anywhere outside of the modal, close it\nwindow.onclick = function(event) {\n    var source = event.target;\n    if (source == modal || source == span) {\n        closeModal(source)\n    }\n};\n\nvar closeModal = function(source){\n    //console.log(\"closing\")\n    modal.style.display = \"none\";\n   \n    if (inputType == \"number\"){\n        inputTarget.type = \"number\" //hack because chrome doesn't allow selectionstart on number inputs\n    }\n}\n\n    \n// the semi-colon before function invocation is a safety net against concatenated\n// scripts and/or other plugins which may not be closed properly.\n; (function ($, window, document, undefined) {\n\n    // undefined is used here as the undefined global variable in ECMAScript 3 is\n    // mutable (ie. it can be changed by someone else). undefined isn't really being\n    // passed in so we can ensure the value of it is truly undefined. In ES5, undefined\n    // can no longer be modified.\n\n    // window and document are passed through as local variable rather than global\n    // as this (slightly) quickens the resolution process and can be more efficiently\n    // minified (especially when both are regularly referenced in your plugin).\n\n    // Create the defaults once\n    var pluginName = \"jkeyboard\",\n        defaults = {\n            layout: \"english\",\n            input: $('#input'),\n            customLayouts: {\n                selectable: []\n            },\n        };\n\n\n    var function_keys = {\n        backspace: {\n            text: 'DEL',\n        },\n        return: {\n            text: 'Enter'\n        },\n        shift: {\n            text: 'Shift'\n        },\n        space: {\n            text: 'Space'\n        },\n        numeric_switch: {\n            text: '123',\n            command: function () {\n                this.createKeyboard('numeric');\n                this.events();\n            }\n        },\n        layout_switch: {\n            text: '<i class=\"fa fa-keyboard-o\" aria-hidden=\"true\"></i>',\n            command: function () {\n                var l = this.toggleLayout();\n                this.createKeyboard(l);\n                this.events();\n            }\n        },\n        character_switch: {\n            text: 'ABC',\n            command: function () {\n                this.createKeyboard(layout);\n                this.events();\n            }\n        },\n        symbol_switch: {\n            text: '#+=',\n            command: function () {\n                this.createKeyboard('symbolic');\n                this.events();\n            }\n        }\n    };\n\n\n    var layouts = {\n        selectable: ['english', 'russian','french', 'emoji'],\n        english: [\n            ['q', 'w', 'e', 'r', 't', 'y', 'u', 'i', 'o', 'p',],\n            ['a', 's', 'd', 'f', 'g', 'h', 'j', 'k', 'l',],\n            ['shift', 'z', 'x', 'c', 'v', 'b', 'n', 'm', 'backspace'],\n            ['numeric_switch', 'layout_switch', 'space', 'return']\n        ],\n        russian: [\n            ['й', 'ц', 'у', 'к', 'е', 'н', 'г', 'ш', 'щ', 'з', 'х'],\n            ['ф', 'ы', 'в', 'а', 'п', 'р', 'о', 'л', 'д', 'ж', 'э'],\n            ['shift', 'я', 'ч', 'с', 'м', 'и', 'т', 'ь', 'б', 'ю', 'backspace'],\n            ['numeric_switch', 'layout_switch', 'space', 'return']\n        ],\n        french: [\n            ['q', 'w', 'e', 'r', 't', 'y', 'u', 'i', 'o', 'p',],\n            ['a', 's', 'd', 'f', 'g', 'h', 'j', 'k', 'l','à','ç'],\n            ['shift', 'z', 'x', 'c', 'v', 'b', 'n', 'm','é','è', 'backspace'],\n            ['numeric_switch', 'layout_switch', 'space', 'return']\n        ],\n        emoji: [\n            ['😀', '😁', '😂', '🤣', '😃', '😄', '😅', '😆', '😉', '😊',],\n            ['😋', '😎', '😍', '😘', '❤️', '🙏', '🔥', '✨', '👍','👌','💯'],\n            ['🤷', '🎉', '👏', '🤦', '🙌', '🎶', '💥', '🌈','✅','⭐', '👀'],\n            ['numeric_switch', 'layout_switch', 'space', 'return']\n        ],            \n        numeric: [\n            ['1', '2', '3', '4', '5', '6', '7', '8', '9', '0'],\n            ['-', '/', ':', ';', '(', ')', '$', '&', '@', '\"'],\n            ['symbol_switch', '.', ',', '?', '!', \"'\", 'backspace'],\n            ['character_switch', 'layout_switch', 'space', 'return'],\n        ],\n        numbers_only: [\n            ['1', '2', '3',],\n            ['4', '5', '6',],\n            ['7', '8', '9',],\n            ['0', 'backspace', 'return'],\n        ],\n        symbolic: [\n            ['[', ']', '{', '}', '#', '%', '^', '*', '+', '='],\n            ['_', '\\\\', '|', '~', '<', '>'],\n            ['numeric_switch', '.', ',', '?', '!', \"'\", 'backspace'],\n            ['character_switch', 'layout_switch', 'space', 'return'],\n\n        ]\n    }\n\n    var shift = false, capslock = false, layout = 'english', layout_id = 0;\n\n    // The actual plugin constructor\n    function Plugin(element, options) {\n        this.element = element;\n        // jQuery has an extend method which merges the contents of two or\n        // more objects, storing the result in the first object. The first object\n        // is generally empty as we don't want to alter the default options for\n        // future instances of the plugin\n        this.settings = $.extend({}, defaults, options);\n        // Extend & Merge the cusom layouts\n        layouts = $.extend(true, {}, this.settings.customLayouts, layouts);\n        if (Array.isArray(this.settings.customLayouts.selectable)) {\n            $.merge(layouts.selectable, this.settings.customLayouts.selectable);\n        }\n        this._defaults = defaults;\n        this._name = pluginName;\n        this.init();\n    }\n\n    Plugin.prototype = {\n        init: function () {\n            layout = this.settings.layout;\n            this.createKeyboard(layout);\n            this.events();\n        },\n\n        setInput: function (newInputField) {\n            this.settings.input = newInputField;\n        },\n\n        createKeyboard: function (layout) {\n            shift = false;\n            capslock = false;\n\n            var keyboard_container = $('<ul/>').addClass('jkeyboard'),\n                me = this;\n\n            layouts[layout].forEach(function (line, index) {\n                var line_container = $('<li/>').addClass('jline');\n                line_container.append(me.createLine(line));\n                keyboard_container.append(line_container);\n            });\n\n            $(this.element).html('').append(keyboard_container);\n        },\n\n        createLine: function (line) {\n            var line_container = $('<ul/>');\n\n            line.forEach(function (key, index) {\n                var key_container = $('<li/>').addClass('jkey').data('command', key);\n\n                if (function_keys[key]) {\n                    key_container.addClass(key).html(function_keys[key].text);\n                }\n                else {\n                    key_container.addClass('letter').html(key);\n                }\n\n                line_container.append(key_container);\n            })\n\n            return line_container;\n        },\n\n        events: function () {\n            var letters = $(this.element).find('.letter'),\n                shift_key = $(this.element).find('.shift'),\n                space_key = $(this.element).find('.space'),\n                backspace_key = $(this.element).find('.backspace'),\n                return_key = $(this.element).find('.return'),\n\n                me = this,\n                fkeys = Object.keys(function_keys).map(function (k) {\n                    return '.' + k;\n                }).join(',');\n\n            letters.on('click', function () {\n                me.type((shift || capslock) ? $(this).text().toUpperCase() : $(this).text());\n            });\n\n            space_key.on('click', function () {\n                me.type(' ');\n            });\n\n            return_key.on('click', function () {\n                me.enter();\n            });\n\n            backspace_key.on('click', function () {\n                me.backspace();\n            });\n\n            shift_key.on('click', function () {\n                if (capslock) {\n                    me.toggleShiftOff();\n                    capslock = false;\n                } else {\n                    me.toggleShiftOn();\n                }\n            }).on('dblclick', function () {\n                capslock = true;\n            });\n\n\n            $(fkeys).on('click', function () {\n                var command = function_keys[$(this).data('command')].command;\n                if (!command) return;\n\n                command.call(me);\n            });\n        },\n\n        type: function (key) {\n            var input = this.settings.input,\n                val = input.val(),\n                input_node = input.get(0),\n                start = input_node.selectionStart,\n                end = input_node.selectionEnd;\n\n            var max_length = $(input).attr(\"maxlength\");\n            if (start == end && end == val.length) {\n                if (!max_length || val.length < max_length) {\n                    input.val(val + key);\n                    input.change()\n                    $('#vkeyname').text(val + key)\n                }\n            } else {\n                if (input_node.type == \"text\"){\n                    var new_string = this.insertToString(start, end, val, key);\n                    input.val(new_string);\n                    start++;\n                    end = start;\n                    input_node.setSelectionRange(start, end);\n                    input.change()\n                }else if (input_node.type == \"number\"){\n                    input.val(val + key);\n                }else{\n                    input.val(val + key);\n                    input.change()\n                }\n                $('#vkeyname').text(val + key)\n                \n            }\n            input.trigger('focus');\n\n            if (shift && !capslock) {\n                this.toggleShiftOff();\n            }\n        },\n        \n        enter: function () {\n            var input = this.settings.input,\n                val = input.val();\n                input_node = input.get(0),\n                start = input_node.selectionStart,\n                end = input_node.selectionEnd;\n            if (input_node.type == \"text\"){\n                val = val + \"\\n\";\n                $('#vkeyname').text(val)\n            }\n            input.change()\n            input.focus()\n            if (input_node.type == \"number\"){\n                modal.style.display = \"none\";\n            }\n        },\n\n        backspace: function () {\n            var input = this.settings.input,\n                val = input.val();\n                input_node = input.get(0),\n                start = input_node.selectionStart,\n                end = input_node.selectionEnd;\n            if (input.type == \"text\"){\n                input.val(val.slice(0, start-1) + val.slice(start))\n                input_node.setSelectionRange(start-1, start-1);\n                //console.log(val)\n                $('#vkeyname').text(val)\n            }else{\n                input.val(val.slice(0,-1))\n                $('#vkeyname').text(val.slice(0,-1))\n            }\n            //input.change()\n            //input.focus()\n        },\n\n        toggleShiftOn: function () {\n            var letters = $(this.element).find('.letter'),\n                shift_key = $(this.element).find('.shift');\n\n            letters.addClass('uppercase');\n            shift_key.addClass('active')\n            shift = true;\n        },\n\n        toggleShiftOff: function () {\n            var letters = $(this.element).find('.letter'),\n                shift_key = $(this.element).find('.shift');\n\n            letters.removeClass('uppercase');\n            shift_key.removeClass('active');\n            shift = false;\n        },\n\n        toggleLayout: function () {\n            layout_id = layout_id || 0;\n            var plain_layouts = layouts.selectable;\n            layout_id++;\n\n            var current_id = layout_id % plain_layouts.length;\n            var SelectedLayoutName = plain_layouts[current_id];\n            $('#vkeyname').text('V-Keyboard ' + SelectedLayoutName )\n            return plain_layouts[current_id];\n        },\n\n        insertToString: function (start, end, string, insert_string) {\n            return string.substring(0, start) + insert_string + string.substring(end, string.length);\n        }\n    };\n\n        /*\n\t\t// A really lightweight plugin wrapper around the constructor,\n\t\t// preventing against multiple instantiations\n\t\t$.fn[ pluginName ] = function ( options ) {\n\t\t\t\treturn this.each(function() {\n\t\t\t\t\t\tif ( !$.data( this, \"plugin_\" + pluginName ) ) {\n\t\t\t\t\t\t\t\t$.data( this, \"plugin_\" + pluginName, new Plugin( this, options ) );\n\t\t\t\t\t\t}\n\t\t\t\t});\n\t\t};\n        */\n        var methods = {\n            init: function(options) {\n                if (!this.data(\"plugin_\" + pluginName)) {\n                    this.data(\"plugin_\" + pluginName, new Plugin(this, options));\n                }\n            },\n\t\t\tsetInput: function(content) {\n\t\t\t\tthis.data(\"plugin_\" + pluginName).setInput($(content));\n            },\n            setLayout: function(layoutname) {\n                // change layout if it is not match current\n                object = this.data(\"plugin_\" + pluginName);\n                if (typeof(layouts[layoutname]) !== 'undefined' && object.settings.layout != layoutname) {\n                    object.settings.layout = layoutname;\n                    object.createKeyboard(layoutname);\n                    object.events();\n                };\n            },\n        };\n\n\t\t$.fn[pluginName] = function (methodOrOptions) {\n            if (methods[methodOrOptions]) {\n                return methods[methodOrOptions].apply(this.first(), Array.prototype.slice.call( arguments, 1));\n            } else if (typeof methodOrOptions === 'object' || ! methodOrOptions) {\n                // Default to \"init\"\n                return methods.init.apply(this.first(), arguments);\n            } else {\n                $.error('Method ' +  methodOrOptions + ' does not exist on jQuery.tooltip');\n            }\n        };\n\n})(jQuery, window, document);\n</script>\n\n<style>\nbody {font-family: Arial, Helvetica, sans-serif;}\n\n.nr-dashboard-theme .nr-dashboard-template .md-button:not(:first-of-type) {\n    margin-top: 0px;\n}\n\n/* The Modal (background) */\n.modal {\n    display: none; /* Hidden by default */\n    position: fixed; /* Stay in place */\n    opacity:0.99;\n    z-index: 100; /* Sit on top */\n    left: 0;\n    top: 0;\n    width: 100%; /* Full width */\n    height: 100%; /* Full height */\n    overflow: auto; /* Enable scroll if needed */\n    background-color: rgb(0,0,0); /* Fallback color */\n    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */\n}\n\n/* Modal Content */\n.modal-content {\n    position: fixed;\n    background-color: #fefefe;\n    margin: auto;\n    padding: 0;\n    bottom: 0%;\n    left: 50%;\n    transform: translate(-50%, 0%);\n    border: 1px solid #888;\n    width: fit-content;\n    max-width: 100%;\n    max-height: 100%;\n    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);\n    -webkit-animation-name: animate;\n    -webkit-animation-duration: 0.4s;\n    animation-name: animate;\n    animation-duration: 0.4s\n}\n\n/* Add Animation */\n@-webkit-keyframes animate {\n    from {bottom:100%; opacity:0} \n    to {bottom:0%; opacity:1}\n}\n\n@keyframes animate {\n    from {bottom:100%; opacity:0}\n    to {bottom:0%; opacity:1}\n}\n\n/* The Close Button */\n.close {\n    color: black;\n    float: right;\n    font-size: 28px;\n    font-weight: bold;\n}\n\n.close:hover,\n.close:focus {\n    color: #000;\n    text-decoration: none;\n    cursor: pointer;\n}\n\n.modal-header {\n    padding: 2px 16px;\n    background-color: aliceblue;\n    color: white;\n}\n\n.modal-body {padding: 2px 16px;}\n\n.modal-footer {\n    padding: 2px 16px;\n    background-color: #5cb85c;\n    color: white;\n}\n\n.jkeyboard {\n  display: inline-block;\n}\n.jkeyboard, .jkeyboard .jline, .jkeyboard .jline ul {\n  display: block;\n  margin: 0;\n  padding: 0;\n}\n.jkeyboard .jline {\n  text-align: center;\n  margin-left: -14px;\n}\n.jkeyboard .jline ul li {\n  font-family: arial, sans-serif;\n  font-size: 20px;\n  display: inline-block;\n  border: 1px solid #468db3;\n  -webkit-box-shadow: 0 0 3px #468db3;\n  -webkit-box-shadow: inset 0 0 3px #468db3;\n  margin: 5px 0 1px 6px;\n  color: #000000;\n  border-radius: 5px;\n  width: 52px;\n  height: 52px;\n  box-sizing: border-box;\n  text-align: center;\n  line-height: 52px;\n  overflow: hidden;\n  cursor: pointer;\n  -webkit-touch-callout: none;\n  -webkit-user-select: none;\n  -khtml-user-select: none;\n  -moz-user-select: -moz-none;\n  -ms-user-select: none;\n  user-select: none;\n}\n.jkeyboard .jline ul li.uppercase {\n  text-transform: uppercase;\n}\n.jkeyboard .jline ul li:hover, .jkeyboard .jline ul li:active {\n  background-color: #185a82;\n}\n.jkeyboard .jline .return {\n  width: 80px;\n}\n.jkeyboard .jline .space {\n  width: 366px;\n}\n.jkeyboard .jline .numeric_switch {\n  width: 65px;\n}\n.jkeyboard .jline .layout_switch {\n}\n.jkeyboard .jline .shift {\n  width: 60px;\n}\n.jkeyboard .jline .backspace {\n  width: 69px;\n}\n</style>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 280,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "37a6222521259029",
        "type": "change",
        "z": "e340100c9b9fe682",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\" : \"OPC UA Selector\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 180,
        "wires": [
            [
                "689117baa02312b2"
            ]
        ]
    },
    {
        "id": "c5fa3a89667cf743",
        "type": "inject",
        "z": "e340100c9b9fe682",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 450,
        "y": 240,
        "wires": [
            [
                "d29fb0b3f1bc7226"
            ]
        ]
    },
    {
        "id": "9637627df5d5be14",
        "type": "debug",
        "z": "e340100c9b9fe682",
        "name": "Debug lectura",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 500,
        "wires": []
    },
    {
        "id": "6818068350d21ee6",
        "type": "debug",
        "z": "e340100c9b9fe682",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 280,
        "wires": []
    },
    {
        "id": "b5c67bdbc44d01ab",
        "type": "debug",
        "z": "e340100c9b9fe682",
        "name": "Debug server abierto",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 420,
        "wires": []
    },
    {
        "id": "2799f59311d52626",
        "type": "change",
        "z": "e340100c9b9fe682",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\" : \"OPC UA Público\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 160,
        "wires": [
            [
                "b3dda29d6c1a7e5f"
            ]
        ]
    },
    {
        "id": "a46516797f94b473",
        "type": "change",
        "z": "e340100c9b9fe682",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\" : \"OPC UA Privado\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 120,
        "wires": [
            [
                "9b2794fe99960d9a"
            ]
        ]
    },
    {
        "id": "658236328a43787f",
        "type": "comment",
        "z": "e340100c9b9fe682",
        "name": "Información del servidor PTE",
        "info": "Servidor OPC UA abierto en el puerto 55489\n\nVaribles disponibles en el espacio de direcciones:\n",
        "x": 260,
        "y": 420,
        "wires": []
    },
    {
        "id": "0b8489ec0a415f28",
        "type": "comment",
        "z": "e340100c9b9fe682",
        "name": "Información del servidor PTE",
        "info": "Servidor OPC UA con usuario en el puerto 55490\n\nUser: MI40\nPass: MI40\n\nVaribles disponibles en el espacio de direcciones:\n",
        "x": 260,
        "y": 940,
        "wires": []
    },
    {
        "id": "65e0795b975e25bf",
        "type": "change",
        "z": "e340100c9b9fe682",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\" : \"Inicio\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 120,
        "wires": [
            [
                "689117baa02312b2"
            ]
        ]
    },
    {
        "id": "d29fb0b3f1bc7226",
        "type": "hostip",
        "z": "e340100c9b9fe682",
        "name": "Host IP",
        "x": 620,
        "y": 240,
        "wires": [
            [
                "6818068350d21ee6",
                "c2bd012062bd0c77"
            ]
        ]
    },
    {
        "id": "30ddde700b963243",
        "type": "ui_button",
        "z": "e340100c9b9fe682",
        "name": "",
        "group": "2caf7620b7cbd0b2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ATRÁS",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 460,
        "y": 200,
        "wires": [
            [
                "37a6222521259029"
            ]
        ]
    },
    {
        "id": "7564cde99bae07dd",
        "type": "ui_button",
        "z": "e340100c9b9fe682",
        "name": "",
        "group": "f52f7f9d7057398e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Público",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1020,
        "y": 160,
        "wires": [
            [
                "2799f59311d52626"
            ]
        ]
    },
    {
        "id": "335129cff27a8c3e",
        "type": "ui_button",
        "z": "e340100c9b9fe682",
        "name": "",
        "group": "f52f7f9d7057398e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Privado",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1020,
        "y": 120,
        "wires": [
            [
                "a46516797f94b473"
            ]
        ]
    },
    {
        "id": "9b3d964771c191c5",
        "type": "ui_button",
        "z": "e340100c9b9fe682",
        "name": "",
        "group": "9ba0ed5ba846c5e9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ATRÁS",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 460,
        "y": 160,
        "wires": [
            [
                "37a6222521259029"
            ]
        ]
    },
    {
        "id": "8771bafb3e98d459",
        "type": "ui_button",
        "z": "e340100c9b9fe682",
        "name": "",
        "group": "f52f7f9d7057398e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "INICIO",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "65e0795b975e25bf"
            ]
        ]
    },
    {
        "id": "59c8fbcd1861c8b7",
        "type": "ui_text",
        "z": "e340100c9b9fe682",
        "group": "2caf7620b7cbd0b2",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Feedback texto",
        "format": "{{payload.value[3].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 740,
        "wires": []
    },
    {
        "id": "8e2ea81da0f453bd",
        "type": "ui_text",
        "z": "e340100c9b9fe682",
        "group": "2caf7620b7cbd0b2",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Feedback boolean",
        "format": "{{payload.value[0].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 560,
        "wires": []
    },
    {
        "id": "41792a2d38623e31",
        "type": "ui_text",
        "z": "e340100c9b9fe682",
        "group": "2caf7620b7cbd0b2",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Feedback double",
        "format": "{{payload.value[1].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 620,
        "wires": []
    },
    {
        "id": "d108ba10f1ca43c3",
        "type": "ui_text",
        "z": "e340100c9b9fe682",
        "group": "2caf7620b7cbd0b2",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Feedback Int",
        "format": "{{payload.value[2].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1010,
        "y": 680,
        "wires": []
    },
    {
        "id": "689117baa02312b2",
        "type": "ui_ui_control",
        "z": "e340100c9b9fe682",
        "name": "",
        "events": "all",
        "x": 860,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b3dda29d6c1a7e5f",
        "type": "ui_ui_control",
        "z": "e340100c9b9fe682",
        "name": "",
        "events": "all",
        "x": 1440,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "9b2794fe99960d9a",
        "type": "ui_ui_control",
        "z": "e340100c9b9fe682",
        "name": "",
        "events": "all",
        "x": 1440,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "b4961e9a61a56314",
        "type": "OPCUA-IIoT-Inject",
        "z": "e340100c9b9fe682",
        "injectType": "read",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "Nodos de lectura",
        "addressSpaceItems": [
            {
                "name": "Boolean",
                "nodeId": "ns=1;s=Var_BOOL",
                "datatypeName": ""
            },
            {
                "name": "Double",
                "nodeId": "ns=1;s=Var_Double",
                "datatypeName": ""
            },
            {
                "name": "Int",
                "nodeId": "ns=1;s=Var_INT",
                "datatypeName": ""
            },
            {
                "name": "Texto",
                "nodeId": "ns=1;s=Var_STRING",
                "datatypeName": ""
            }
        ],
        "x": 510,
        "y": 560,
        "wires": [
            [
                "52f02ee11c64bbf5"
            ]
        ]
    },
    {
        "id": "52f02ee11c64bbf5",
        "type": "OPCUA-IIoT-Read",
        "z": "e340100c9b9fe682",
        "attributeId": 0,
        "maxAge": 1,
        "depth": 1,
        "connector": "77fdc29e.3c49ec",
        "name": "Lectura de variables",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 780,
        "y": 560,
        "wires": [
            [
                "8e2ea81da0f453bd",
                "d108ba10f1ca43c3",
                "9637627df5d5be14",
                "41792a2d38623e31",
                "59c8fbcd1861c8b7"
            ]
        ]
    },
    {
        "id": "e4d81d84815907be",
        "type": "OPCUA-IIoT-Flex-Server",
        "z": "e340100c9b9fe682",
        "d": true,
        "port": "55489",
        "endpoint": "opc.tcp://192.168.1.143:55489",
        "acceptExternalCommands": true,
        "maxAllowedSessionNumber": "",
        "maxConnectionsPerEndpoint": "",
        "maxAllowedSubscriptionNumber": "",
        "alternateHostname": "",
        "name": "OPC UA Server abierto",
        "showStatusActivities": false,
        "showErrors": false,
        "allowAnonymous": true,
        "individualCerts": false,
        "isAuditing": false,
        "serverDiscovery": true,
        "users": [
            {
                "name": "MI40",
                "password": "MI40"
            }
        ],
        "xmlsets": [],
        "publicCertificateFile": "",
        "privateCertificateFile": "",
        "registerServerMethod": "1",
        "discoveryServerEndpointUrl": "",
        "capabilitiesForMDNS": "",
        "maxNodesPerRead": 1000,
        "maxNodesPerBrowse": 2000,
        "delayToClose": 1000,
        "addressSpaceScript": "function constructAlarmAddressSpace(server, addressSpace, eventObjects, done) {\n    // server = the created node-opcua server\n    // addressSpace = script placeholder\n    // eventObjects = to hold event variables in memory from this script\n\n    // internal global sandbox objects are \n    // node = node of the flex server, \n    // coreServer = core iiot server object for debug and access to nodeOPCUA,\n    // and scriptObjects to hold variables and functions\n    const LocalizedText = opcua.LocalizedText;\n    const namespace = addressSpace.getOwnNamespace();\n\n    coreServer.internalDebugLog('Inicio dinámico de espacio de direcciones')\n    node.warn('Construyendo espacio de direcciones para servidor de OPC UA en 55489')\n\n    const Variant = opcua.Variant;\n    const DataType = opcua.DataType;\n    const DataValue = opcua.DataValue;\n\n    coreServer.internalDebugLog(\"init dynamic address space\");\n    const rootFolder = addressSpace.findNode(\"RootFolder\");\n\n    const myDevice = namespace.addFolder(rootFolder.objects, {\n        \"browseName\": \"Mis_Variables_libres\"\n    });\n    namespace.addVariable({\n        organizedBy: myDevice,\n        browseName: \"Var_BOOL\",\n        nodeId: \"ns=1;s=Var_BOOL\",\n        dataType: \"Boolean\",\n        value: {\n            get: function () {\n                return new opcua.Variant({ dataType: opcua.DataType.Boolean, value: true });\n            },\n            set: function (variant) {\n                return opcua.StatusCodes.Good;\n            }\n        }\n    });\n\n    namespace.addVariable({\n        organizedBy: myDevice,\n        browseName: \"Var_INT\",\n        nodeId: \"ns=1;s=Var_INT\",\n        dataType: \"Int16\",\n        value: {\n            get: function () {\n                return new opcua.Variant({ dataType: opcua.DataType.Int16, value: -3649 });\n            },\n            set: function (variant) {\n                return opcua.StatusCodes.Good;\n            }\n        }\n    });\n\n    namespace.addVariable({\n        organizedBy: myDevice,\n        browseName: \"Var_Double\",\n        nodeId: \"ns=1;s=Var_Double\",\n        dataType: \"Double\",\n        value: {\n            get: function () {\n                return new opcua.Variant({ dataType: opcua.DataType.Double, value: 10.3 });\n            },\n            set: function (variant) {\n                return opcua.StatusCodes.Good;\n            }\n        }\n    });\n\n    namespace.addVariable({\n        organizedBy: myDevice,\n        browseName: \"Var_STRING\",\n        nodeId: \"ns=1;s=Var_STRING\",\n        dataType: \"String\",\n        value: {\n            get: function () {\n                return new opcua.Variant({ dataType: opcua.DataType.String, value: \"Hola Mundo MI4.0\" });\n            },\n            set: function (variant) {\n                return opcua.StatusCodes.Good;\n            }\n        }\n    });\n    coreServer.internalDebugLog(\"Creación dinaámica de espacio de direcciones lista\");\n    node.warn(\"Contrucción de espacio de direcciones para servidor de OPC UA en 55489 listo\");\n\n    done();\n}",
        "x": 510,
        "y": 420,
        "wires": [
            [
                "b5c67bdbc44d01ab"
            ]
        ]
    },
    {
        "id": "c2bd012062bd0c77",
        "type": "function",
        "z": "e340100c9b9fe682",
        "name": "Obtener IPV4",
        "func": "msg.Ipv4 = msg.payload[0].address; \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 240,
        "wires": [
            [
                "faf642132cfaefb4",
                "087a39d0d0b86468"
            ]
        ]
    },
    {
        "id": "faf642132cfaefb4",
        "type": "ui_text",
        "z": "e340100c9b9fe682",
        "group": "2caf7620b7cbd0b2",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "IP Público",
        "label": "IP Maestro",
        "format": "{{msg.Ipv4}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1080,
        "y": 240,
        "wires": []
    },
    {
        "id": "087a39d0d0b86468",
        "type": "ui_text",
        "z": "e340100c9b9fe682",
        "group": "9ba0ed5ba846c5e9",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "IP Usuario",
        "label": "IP Maestro",
        "format": "{{msg.Ipv4}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1090,
        "y": 280,
        "wires": []
    },
    {
        "id": "f3b75042adf5e6dd",
        "type": "subflow:93ffc0ab.75647",
        "z": "e340100c9b9fe682",
        "name": "OPC UA",
        "env": [],
        "x": 240,
        "y": 1260,
        "wires": [
            [
                "ed7a9506ab190907"
            ],
            [
                "ed7a9506ab190907"
            ],
            [
                "ed7a9506ab190907"
            ],
            [
                "ed7a9506ab190907"
            ],
            [
                "ed7a9506ab190907"
            ],
            [
                "ed7a9506ab190907"
            ],
            [
                "ed7a9506ab190907"
            ]
        ]
    },
    {
        "id": "ed7a9506ab190907",
        "type": "OpcUa-Server",
        "z": "e340100c9b9fe682",
        "port": "55489",
        "name": "Servidor abierto",
        "endpoint": "",
        "users": "",
        "nodesetDir": "",
        "autoAcceptUnknownCertificate": true,
        "registerToDiscovery": false,
        "constructDefaultAddressSpace": false,
        "allowAnonymous": true,
        "endpointNone": true,
        "endpointSign": true,
        "endpointSignEncrypt": true,
        "endpointBasic128Rsa15": true,
        "endpointBasic256": true,
        "endpointBasic256Sha256": true,
        "maxNodesPerBrowse": 0,
        "maxNodesPerHistoryReadData": 0,
        "maxNodesPerHistoryReadEvents": 0,
        "maxNodesPerHistoryUpdateData": 0,
        "maxNodesPerRead": "10",
        "maxNodesPerWrite": "10",
        "maxNodesPerMethodCall": 0,
        "maxNodesPerRegisterNodes": 0,
        "maxNodesPerNodeManagement": 0,
        "maxMonitoredItemsPerCall": 0,
        "maxNodesPerHistoryUpdateEvents": 0,
        "maxNodesPerTranslateBrowsePathsToNodeIds": 0,
        "maxConnectionsPerEndpoint": "",
        "maxMessageSize": "",
        "maxBufferSize": "",
        "maxSessions": "",
        "x": 800,
        "y": 1200,
        "wires": [
            [
                "8d68029415083e9e"
            ]
        ]
    },
    {
        "id": "8d68029415083e9e",
        "type": "debug",
        "z": "e340100c9b9fe682",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 1200,
        "wires": []
    },
    {
        "id": "0596727128b624b5",
        "type": "comment",
        "z": "e340100c9b9fe682",
        "name": "OPC UA Server on opc.tcp://localhost:4840/",
        "info": "",
        "x": 310,
        "y": 1040,
        "wires": []
    },
    {
        "id": "22e39a9b7932abc2",
        "type": "OpcUa-Client",
        "z": "e340100c9b9fe682",
        "endpoint": "1b48238c21b13cef",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": "",
        "maxMessageSize": "",
        "receiveBufferSize": "",
        "sendBufferSize": "",
        "name": "",
        "x": 760,
        "y": 1420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "70edb966c9f946dc",
        "type": "OpcUa-Item",
        "z": "e340100c9b9fe682",
        "item": "ns=5;s=Var_BOOL",
        "datatype": "Boolean",
        "value": "",
        "name": "Feedback boolean",
        "x": 510,
        "y": 1360,
        "wires": [
            [
                "22e39a9b7932abc2"
            ]
        ]
    },
    {
        "id": "2e6811fd3f513e90",
        "type": "inject",
        "z": "e340100c9b9fe682",
        "name": "Read Values ever 5s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 260,
        "y": 1360,
        "wires": [
            [
                "70edb966c9f946dc",
                "b63a95473deff178",
                "591b75992c58599c",
                "148d8fbdc2c8d5a0"
            ]
        ]
    },
    {
        "id": "b63a95473deff178",
        "type": "OpcUa-Item",
        "z": "e340100c9b9fe682",
        "item": "ns=5;s=Var_INT",
        "datatype": "Int32",
        "value": "",
        "name": "Feedback Int",
        "x": 490,
        "y": 1400,
        "wires": [
            [
                "22e39a9b7932abc2"
            ]
        ]
    },
    {
        "id": "591b75992c58599c",
        "type": "OpcUa-Item",
        "z": "e340100c9b9fe682",
        "item": "ns=5;s=Var_DOUBLE",
        "datatype": "Double",
        "value": "",
        "name": "Feedback double",
        "x": 510,
        "y": 1440,
        "wires": [
            [
                "22e39a9b7932abc2"
            ]
        ]
    },
    {
        "id": "148d8fbdc2c8d5a0",
        "type": "OpcUa-Item",
        "z": "e340100c9b9fe682",
        "item": "ns=5;s=Var_STRING",
        "datatype": "String",
        "value": "",
        "name": "Feedback texto",
        "x": 500,
        "y": 1480,
        "wires": [
            [
                "22e39a9b7932abc2"
            ]
        ]
    },
    {
        "id": "aded64a1bbbb8082",
        "type": "inject",
        "z": "e340100c9b9fe682",
        "name": "buildStructure",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "www.testiot.com",
        "payload": "{ \"opcuaCommand\": \"registerNamespace\" }",
        "payloadType": "json",
        "x": 230,
        "y": 1160,
        "wires": [
            [
                "57d3c1600cb98fd8",
                "ed7a9506ab190907"
            ]
        ]
    },
    {
        "id": "a9ee4948d4d13b80",
        "type": "change",
        "z": "e340100c9b9fe682",
        "name": "Create Object",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"opcuaCommand\": \"addFolder\" }",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ns=5;s=MI40_Object",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1100,
        "wires": [
            [
                "ed7a9506ab190907"
            ]
        ]
    },
    {
        "id": "57d3c1600cb98fd8",
        "type": "delay",
        "z": "e340100c9b9fe682",
        "name": "Delay 1s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 420,
        "y": 1100,
        "wires": [
            [
                "a9ee4948d4d13b80"
            ]
        ]
    },
    {
        "id": "0c6f07a60cbb40fa",
        "type": "change",
        "z": "4e702d50e851e07d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\" : \"Inicio\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 100,
        "wires": [
            [
                "0d1cbaf7adeaef4e"
            ]
        ]
    },
    {
        "id": "b62de5d8effe8954",
        "type": "inject",
        "z": "4e702d50e851e07d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "30b8544c82e15861"
            ]
        ]
    },
    {
        "id": "cd0fbfd284939421",
        "type": "debug",
        "z": "4e702d50e851e07d",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 200,
        "wires": []
    },
    {
        "id": "function-coil-control",
        "type": "function",
        "z": "4e702d50e851e07d",
        "name": "Format Modbus Write",
        "func": "var coilIndex = msg.payload.coil;\nvar state = msg.payload.state ? 1 : 0;\n\nmsg.payload = { \n    'value': state, \n    'fc': 5, \n    'unitid': 1, \n    'address': coilIndex, \n    'quantity': 1 \n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 780,
        "wires": [
            [
                "modbus-write-coils"
            ]
        ]
    },
    {
        "id": "function-input-control",
        "type": "function",
        "z": "4e702d50e851e07d",
        "name": "Format Modbus Write for Inputs",
        "func": "var inputIndex = msg.payload.input;\nvar value = msg.payload.value;\n\nmsg.payload = { \n    'value': value, \n    'fc': 6, \n    'unitid': 1, \n    'address': inputIndex + 10, // Ajusta la dirección base para los input registers\n    'quantity': 1 \n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 920,
        "wires": [
            [
                "write-input"
            ]
        ]
    },
    {
        "id": "function-holding-control",
        "type": "function",
        "z": "4e702d50e851e07d",
        "name": "Format Modbus Write for Holdings",
        "func": "var holdingIndex = msg.payload.holding;\nvar value = msg.payload.value;\n\nmsg.payload = { \n    'value': value, \n    'fc': 6, \n    'unitid': 1, \n    'address': holdingIndex + 20, // Ajusta la dirección base para los holding registers\n    'quantity': 1 \n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1060,
        "wires": [
            [
                "write-holding"
            ]
        ]
    },
    {
        "id": "30b8544c82e15861",
        "type": "hostip",
        "z": "4e702d50e851e07d",
        "name": "Host IP",
        "x": 480,
        "y": 160,
        "wires": [
            [
                "cd0fbfd284939421",
                "609fdaaf3a23e5a7"
            ]
        ]
    },
    {
        "id": "5af5cf5902692208",
        "type": "modbus-read",
        "z": "4e702d50e851e07d",
        "name": "Read Input Registers",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "10",
        "quantity": "8",
        "rate": "2",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "3b81367c79146636",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 380,
        "y": 560,
        "wires": [
            [
                "d97996f56cf2c3c1"
            ],
            []
        ]
    },
    {
        "id": "93442a1cfe80b58b",
        "type": "modbus-read",
        "z": "4e702d50e851e07d",
        "name": "Read Holding Registers",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "20",
        "quantity": "8",
        "rate": "2",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "3b81367c79146636",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 380,
        "y": 660,
        "wires": [
            [
                "d318f280ec938980"
            ],
            []
        ]
    },
    {
        "id": "9642714c46afabac",
        "type": "modbus-read",
        "z": "4e702d50e851e07d",
        "name": "Read Coils",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "16",
        "rate": "2",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "3b81367c79146636",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 420,
        "y": 460,
        "wires": [
            [
                "0bbf479c9c6410a2"
            ],
            []
        ]
    },
    {
        "id": "write-holding",
        "type": "modbus-write",
        "z": "4e702d50e851e07d",
        "name": "Write Holding Register",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "",
        "quantity": "1",
        "server": "3b81367c79146636",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 920,
        "y": 1060,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "write-input",
        "type": "modbus-write",
        "z": "4e702d50e851e07d",
        "name": "Write Input Register",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "",
        "quantity": "1",
        "server": "3b81367c79146636",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 910,
        "y": 920,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "modbus-write-coils",
        "type": "modbus-flex-write",
        "z": "4e702d50e851e07d",
        "name": "Write Coils",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "3b81367c79146636",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 850,
        "y": 780,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a0829dc1dfc04987",
        "type": "modbus-server",
        "z": "4e702d50e851e07d",
        "name": "Server Modbus",
        "logEnabled": false,
        "hostname": "127.0.0.1",
        "serverPort": "502",
        "responseDelay": 100,
        "delayUnit": "ms",
        "coilsBufferSize": 10000,
        "holdingBufferSize": 10000,
        "inputBufferSize": 10000,
        "discreteBufferSize": 10000,
        "showErrors": false,
        "showStatusActivities": false,
        "x": 380,
        "y": 320,
        "wires": [
            [
                "b1db5fac1b8738d2"
            ],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "2b391a2ec4fdf914",
        "type": "ui_button",
        "z": "4e702d50e851e07d",
        "name": "",
        "group": "c1fd1f778554d218",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "INICIO",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 100,
        "wires": [
            [
                "0c6f07a60cbb40fa"
            ]
        ]
    },
    {
        "id": "0bbf479c9c6410a2",
        "type": "ui_text",
        "z": "4e702d50e851e07d",
        "group": "c1fd1f778554d218",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Display Coils",
        "label": "Coils Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 630,
        "y": 460,
        "wires": []
    },
    {
        "id": "d97996f56cf2c3c1",
        "type": "ui_text",
        "z": "4e702d50e851e07d",
        "group": "c1fd1f778554d218",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "Display Inputs",
        "label": "Input Registers",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 640,
        "y": 560,
        "wires": []
    },
    {
        "id": "d318f280ec938980",
        "type": "ui_text",
        "z": "4e702d50e851e07d",
        "group": "c1fd1f778554d218",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "Display Holdings",
        "label": "Holding Registers",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 650,
        "y": 660,
        "wires": []
    },
    {
        "id": "0d1cbaf7adeaef4e",
        "type": "ui_ui_control",
        "z": "4e702d50e851e07d",
        "name": "",
        "events": "all",
        "x": 720,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "template-coil-control",
        "type": "ui_template",
        "z": "4e702d50e851e07d",
        "group": "c1fd1f778554d218",
        "name": "Coil Control Panel",
        "order": 6,
        "width": 6,
        "height": 5,
        "format": "<div class=\"coils-container\" ng-init=\"coils=[false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false]\">\n    <div class=\"coil-switch\" ng-repeat=\"coil in coils track by $index\">\n        <label>Coil {{$index}}:</label>\n        <md-switch ng-model=\"coils[$index]\" ng-change=\"send({payload: {coil: $index, state: coils[$index]}})\">\n            {{coils[$index] ? 'ON' : 'OFF'}}\n        </md-switch>\n    </div>\n</div>\n<style>\n    .coils-container {\n        display: flex;\n        flex-wrap: wrap;\n        justify-content: space-around;\n    }\n    .coil-switch {\n        width: 30%;\n        padding: 5px;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 390,
        "y": 780,
        "wires": [
            [
                "function-coil-control"
            ]
        ]
    },
    {
        "id": "template-holding-control",
        "type": "ui_template",
        "z": "4e702d50e851e07d",
        "group": "c1fd1f778554d218",
        "name": "Holding Register Control Panel",
        "order": 12,
        "width": 6,
        "height": 5,
        "format": "<div class=\"holdings-container\" ng-init=\"holdings=[0,0,0,0,0,0,0,0]\">\n    <div class=\"holding-input\" ng-repeat=\"holding in holdings track by $index\">\n        <label>Holding {{$index}}:</label>\n        <input type=\"number\" ng-model=\"holdings[$index]\" ng-change=\"send({payload: {holding: $index, value: holdings[$index]}})\">\n    </div>\n</div>\n<style>\n    .holdings-container {\n        display: flex;\n        flex-wrap: wrap;\n        justify-content: space-around;\n    }\n    .holding-input {\n        width: 30%;\n        padding: 5px;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 230,
        "y": 1060,
        "wires": [
            [
                "function-holding-control"
            ]
        ]
    },
    {
        "id": "template-input-control",
        "type": "ui_template",
        "z": "4e702d50e851e07d",
        "group": "c1fd1f778554d218",
        "name": "Input Register Control Panel",
        "order": 9,
        "width": 6,
        "height": 5,
        "format": "<div class=\"inputs-container\" ng-init=\"inputs=[0,0,0,0,0,0,0,0]\">\n    <div class=\"input-input\" ng-repeat=\"input in inputs track by $index\">\n        <label>Input {{$index}}:</label>\n        <input type=\"number\" ng-model=\"inputs[$index]\" ng-change=\"send({payload: {input: $index, value: inputs[$index]}})\">\n    </div>\n</div>\n<style>\n    .inputs-container {\n        display: flex;\n        flex-wrap: wrap;\n        justify-content: space-around;\n    }\n    .input-input {\n        width: 30%;\n        padding: 5px;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 240,
        "y": 920,
        "wires": [
            [
                "function-input-control"
            ]
        ]
    },
    {
        "id": "18f7516113b6cdb8",
        "type": "ui_text",
        "z": "4e702d50e851e07d",
        "group": "c1fd1f778554d218",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "IP Maestro",
        "format": "{{msg.Ipv4}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 160,
        "wires": []
    },
    {
        "id": "609fdaaf3a23e5a7",
        "type": "function",
        "z": "4e702d50e851e07d",
        "name": "Obtener IPV4",
        "func": "msg.Ipv4 = msg.payload[0].address; \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 160,
        "wires": [
            [
                "18f7516113b6cdb8"
            ]
        ]
    },
    {
        "id": "b1db5fac1b8738d2",
        "type": "debug",
        "z": "4e702d50e851e07d",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "37ac700b82d5c260",
        "type": "s7 in",
        "z": "fd4b5ffea49ae0ba",
        "endpoint": "",
        "mode": "single",
        "variable": "IOT_BOOL",
        "diff": true,
        "name": "S7Com S7-1500 BOOL",
        "x": 180,
        "y": 1020,
        "wires": [
            [
                "08dbe4f133daafb9"
            ]
        ]
    },
    {
        "id": "ea4b58d675f8b6dd",
        "type": "comment",
        "z": "fd4b5ffea49ae0ba",
        "name": "Write Values from S7Communication",
        "info": "",
        "x": 200,
        "y": 980,
        "wires": []
    },
    {
        "id": "42884436d25df976",
        "type": "OpcUa-Client",
        "z": "fd4b5ffea49ae0ba",
        "endpoint": "08630897d509378a",
        "action": "read",
        "deadbandvalue": "",
        "time": 10,
        "timeUnit": "s",
        "localfile": "",
        "localkeyfile": "",
        "name": "",
        "x": 580,
        "y": 540,
        "wires": [
            [
                "f5e48899cba3aba1"
            ],
            []
        ]
    },
    {
        "id": "6f07c621a8bea55c",
        "type": "inject",
        "z": "fd4b5ffea49ae0ba",
        "name": "Refresh Rate =  1sec",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 200,
        "y": 540,
        "wires": [
            [
                "8ac65764342fd010",
                "9561517a6bd70bd3",
                "d432772954ca8634",
                "3d5e5b8fcf4e7baf"
            ]
        ]
    },
    {
        "id": "5e9c463a2bad58bc",
        "type": "modbus-getter",
        "z": "fd4b5ffea49ae0ba",
        "name": "ModbusTCP S7-1500",
        "showStatusActivities": true,
        "showErrors": true,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "20",
        "server": "0debae5f533cb85b",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 240,
        "y": 1560,
        "wires": [
            [],
            [
                "22f3f5571fa11010"
            ]
        ]
    },
    {
        "id": "3c8f680a4373f4e0",
        "type": "inject",
        "z": "fd4b5ffea49ae0ba",
        "name": "Refresh Rate= 1sec.",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 1500,
        "wires": [
            [
                "5e9c463a2bad58bc"
            ]
        ]
    },
    {
        "id": "22f3f5571fa11010",
        "type": "function",
        "z": "fd4b5ffea49ae0ba",
        "name": "Convert To S7 Values",
        "func": "\nmsg.payload.IOT_BOOL = msg.payload.data[0] >0 ? true : false;\n\nvar data = [];\ndata[0]=msg.payload.buffer[2];\ndata[1]=msg.payload.buffer[1];\n\n\n// Create a buffer\nvar buf = new ArrayBuffer(4);\n// Create a data view of it\nvar view = new DataView(buf);\n/*\ndata.forEach(function (b, i) {\n    view.setUint8(i, b);\n});\n*/\ndata.forEach((element, index) => view.setUint8(index, element));\nmsg.payload.IOT_INT = view.getInt16(0,true);\n\ndata[0]=msg.payload.buffer[5];\ndata[1]=msg.payload.buffer[4];\ndata[2]=msg.payload.buffer[7];\ndata[3]=msg.payload.buffer[6];\ndata.forEach(function (b, i) {\n    view.setUint8(i, b);\n});\n\n// Read the bits as a float; note that by doing this, we're implicitly\n// converting it from a 32-bit float into JavaScript's native 64-bit double\nmsg.payload.IOT_REAL = view.getFloat32(0,true);\n\n\ndata[0]=msg.payload.buffer[9];\ndata[1]=msg.payload.buffer[8];\ndata[2]=msg.payload.buffer[11];\ndata[3]=msg.payload.buffer[10];\n\ndata.forEach(function (b, i) {\n    view.setUint8(i, b);\n});\n\nmsg.payload.IOT_TIME= view.getInt32(0,true);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 280,
        "y": 1620,
        "wires": [
            [
                "2a01506dcf8d4645",
                "8faadaeff9953a49",
                "676fce6652fea56e",
                "8c47f4dc9dbd208a"
            ]
        ]
    },
    {
        "id": "8ac65764342fd010",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=3;s=\"IOT_Data\".\"IOT_Bool\"",
        "datatype": "Boolean",
        "value": "",
        "name": "IOT_BOOL",
        "x": 410,
        "y": 540,
        "wires": [
            [
                "42884436d25df976"
            ]
        ]
    },
    {
        "id": "9561517a6bd70bd3",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=3;s=\"IOT_Data\".\"IOT_Int\"",
        "datatype": "Int16",
        "value": "",
        "name": "IOT_INT",
        "x": 400,
        "y": 620,
        "wires": [
            [
                "856b10956b20a5ce"
            ]
        ]
    },
    {
        "id": "856b10956b20a5ce",
        "type": "OpcUa-Client",
        "z": "fd4b5ffea49ae0ba",
        "endpoint": "08630897d509378a",
        "action": "read",
        "deadbandvalue": "",
        "time": 10,
        "timeUnit": "s",
        "localfile": "",
        "localkeyfile": "",
        "name": "",
        "x": 580,
        "y": 620,
        "wires": [
            [
                "459d88d225c807e1"
            ],
            []
        ]
    },
    {
        "id": "d432772954ca8634",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=3;s=\"IOT_Data\".\"IOT_Real\"",
        "datatype": "Float",
        "value": "",
        "name": "IOT_REAL",
        "x": 410,
        "y": 580,
        "wires": [
            [
                "deb63c143525fe37"
            ]
        ]
    },
    {
        "id": "deb63c143525fe37",
        "type": "OpcUa-Client",
        "z": "fd4b5ffea49ae0ba",
        "endpoint": "08630897d509378a",
        "action": "read",
        "deadbandvalue": "",
        "time": 10,
        "timeUnit": "s",
        "localfile": "",
        "localkeyfile": "",
        "name": "",
        "x": 580,
        "y": 580,
        "wires": [
            [
                "0ab1e62ed8c75ad5"
            ],
            []
        ]
    },
    {
        "id": "51726a521bbcc531",
        "type": "comment",
        "z": "fd4b5ffea49ae0ba",
        "name": "Write Values from S7 OPC UA",
        "info": "",
        "x": 186,
        "y": 498,
        "wires": []
    },
    {
        "id": "93b20f39739f7ecf",
        "type": "OpcUa-Server",
        "z": "fd4b5ffea49ae0ba",
        "port": "4840",
        "name": "iot-opcua",
        "endpoint": "",
        "users": "",
        "nodesetDir": "",
        "autoAcceptUnknownCertificate": true,
        "registerToDiscovery": false,
        "constructDefaultAddressSpace": true,
        "allowAnonymous": true,
        "endpointNone": true,
        "endpointSign": true,
        "endpointSignEncrypt": true,
        "endpointBasic128Rsa15": true,
        "endpointBasic256": true,
        "endpointBasic256Sha256": true,
        "maxNodesPerBrowse": 0,
        "maxNodesPerHistoryReadData": 0,
        "maxNodesPerHistoryReadEvents": 0,
        "maxNodesPerHistoryUpdateData": 0,
        "maxNodesPerRead": "10",
        "maxNodesPerWrite": "10",
        "maxNodesPerMethodCall": 0,
        "maxNodesPerRegisterNodes": 0,
        "maxNodesPerNodeManagement": 0,
        "maxMonitoredItemsPerCall": 0,
        "maxNodesPerHistoryUpdateEvents": 0,
        "maxNodesPerTranslateBrowsePathsToNodeIds": 0,
        "x": 760,
        "y": 240,
        "wires": [
            [
                "f801f303063a1496"
            ]
        ]
    },
    {
        "id": "f801f303063a1496",
        "type": "debug",
        "z": "fd4b5ffea49ae0ba",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 240,
        "wires": []
    },
    {
        "id": "88745c7945d965f4",
        "type": "inject",
        "z": "fd4b5ffea49ae0ba",
        "name": "buildStructure",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "www.testiot.com",
        "payload": "{ \"opcuaCommand\": \"registerNamespace\" }",
        "payloadType": "json",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "93b20f39739f7ecf",
                "746276b38fe7ea46"
            ]
        ]
    },
    {
        "id": "c38d5c2e72960655",
        "type": "comment",
        "z": "fd4b5ffea49ae0ba",
        "name": "Building Structure in OPC UA -> Start once after deploying OPC UA Server",
        "info": "",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "3ea8b1f37266fd88",
        "type": "comment",
        "z": "fd4b5ffea49ae0ba",
        "name": "OPC UA Server on opc.tcp://localhost:4840/",
        "info": "",
        "x": 870,
        "y": 200,
        "wires": []
    },
    {
        "id": "e2586d1f9a37c00c",
        "type": "change",
        "z": "fd4b5ffea49ae0ba",
        "name": "Create Object",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"opcuaCommand\": \"addFolder\" }",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ns=5;s=IOTData",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 120,
        "wires": [
            [
                "93b20f39739f7ecf"
            ]
        ]
    },
    {
        "id": "746276b38fe7ea46",
        "type": "delay",
        "z": "fd4b5ffea49ae0ba",
        "name": "Delay 1s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 360,
        "y": 120,
        "wires": [
            [
                "e2586d1f9a37c00c"
            ]
        ]
    },
    {
        "id": "2bbee5a80d0749f4",
        "type": "subflow:93ffc0ab.75647",
        "z": "fd4b5ffea49ae0ba",
        "name": "OPC UA",
        "env": [],
        "x": 180,
        "y": 400,
        "wires": [
            [
                "93b20f39739f7ecf"
            ],
            [
                "93b20f39739f7ecf"
            ],
            [
                "93b20f39739f7ecf"
            ],
            [
                "93b20f39739f7ecf"
            ],
            [
                "93b20f39739f7ecf"
            ],
            [
                "93b20f39739f7ecf"
            ],
            [
                "93b20f39739f7ecf"
            ]
        ]
    },
    {
        "id": "f5e48899cba3aba1",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=5;s=OPCUA.Bool",
        "datatype": "Boolean",
        "value": "",
        "name": "WRITE-ITEM",
        "x": 770,
        "y": 540,
        "wires": [
            [
                "d2efca532d2a0242"
            ]
        ]
    },
    {
        "id": "459d88d225c807e1",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=5;s=OPCUA.Int",
        "datatype": "Int32",
        "value": "",
        "name": "WRITE-ITEM",
        "x": 770,
        "y": 620,
        "wires": [
            [
                "d2efca532d2a0242"
            ]
        ]
    },
    {
        "id": "3ad4d78685501b30",
        "type": "OpcUa-Client",
        "z": "fd4b5ffea49ae0ba",
        "endpoint": "a1f0d7db0323ab7e",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 980,
        "y": 1060,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "0ab1e62ed8c75ad5",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=5;s=OPCUA.Real",
        "datatype": "Float",
        "value": "",
        "name": "WRITE-ITEM",
        "x": 770,
        "y": 580,
        "wires": [
            [
                "d2efca532d2a0242"
            ]
        ]
    },
    {
        "id": "bc4d1d4e9c66040e",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=5;s=OPCUA.Time",
        "datatype": "DateTime",
        "value": "",
        "name": "WRITE-ITEM",
        "x": 770,
        "y": 660,
        "wires": [
            [
                "d2efca532d2a0242"
            ]
        ]
    },
    {
        "id": "1c4215f0b56b224d",
        "type": "OpcUa-Client",
        "z": "fd4b5ffea49ae0ba",
        "endpoint": "a1f0d7db0323ab7e",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 640,
        "y": 840,
        "wires": [
            [
                "9df9d84204dbfdae"
            ],
            []
        ]
    },
    {
        "id": "a140b8117f6eeeac",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=5;s=OPCUA.Bool",
        "datatype": "Boolean",
        "value": "",
        "name": "READ-ITEM",
        "x": 430,
        "y": 780,
        "wires": [
            [
                "1c4215f0b56b224d"
            ]
        ]
    },
    {
        "id": "0bc9c2e06fb5d0e5",
        "type": "inject",
        "z": "fd4b5ffea49ae0ba",
        "name": "Read Values ever 5s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 200,
        "y": 780,
        "wires": [
            [
                "a140b8117f6eeeac",
                "653223a836fb8c33",
                "bee4a4d153989a26",
                "e9cd111dd8e38576"
            ]
        ]
    },
    {
        "id": "653223a836fb8c33",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=5;s=OPCUA.Int",
        "datatype": "Int32",
        "value": "",
        "name": "READ-ITEM",
        "x": 430,
        "y": 820,
        "wires": [
            [
                "1c4215f0b56b224d"
            ]
        ]
    },
    {
        "id": "bee4a4d153989a26",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=5;s=OPCUA.Real",
        "datatype": "Float",
        "value": "",
        "name": "READ-ITEM",
        "x": 430,
        "y": 860,
        "wires": [
            [
                "1c4215f0b56b224d"
            ]
        ]
    },
    {
        "id": "e9cd111dd8e38576",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=5;s=OPCUA.Time",
        "datatype": "DateTime",
        "value": "",
        "name": "READ-ITEM",
        "x": 430,
        "y": 900,
        "wires": [
            [
                "1c4215f0b56b224d"
            ]
        ]
    },
    {
        "id": "9df9d84204dbfdae",
        "type": "join",
        "z": "fd4b5ffea49ae0ba",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 830,
        "y": 840,
        "wires": [
            [
                "081d63d8603360f3"
            ]
        ]
    },
    {
        "id": "ae6ffd5357fdf670",
        "type": "debug",
        "z": "fd4b5ffea49ae0ba",
        "name": "Read Output OPC UA",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 840,
        "wires": []
    },
    {
        "id": "730aab3b2edcfe01",
        "type": "comment",
        "z": "fd4b5ffea49ae0ba",
        "name": "Read OPC UA Values from IOT2050 OPC UA",
        "info": "",
        "x": 230,
        "y": 740,
        "wires": []
    },
    {
        "id": "081d63d8603360f3",
        "type": "change",
        "z": "fd4b5ffea49ae0ba",
        "name": "name msg: OPC UA",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "OPC UA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 840,
        "wires": [
            [
                "ae6ffd5357fdf670"
            ]
        ]
    },
    {
        "id": "66f95b2d6dfa7548",
        "type": "s7 in",
        "z": "fd4b5ffea49ae0ba",
        "endpoint": "",
        "mode": "single",
        "variable": "IOT_REAL",
        "diff": true,
        "name": "S7Com S7-1500 REAL",
        "x": 180,
        "y": 1060,
        "wires": [
            [
                "bf163c9187a19624"
            ]
        ]
    },
    {
        "id": "4d053a67910571b8",
        "type": "s7 in",
        "z": "fd4b5ffea49ae0ba",
        "endpoint": "",
        "mode": "single",
        "variable": "IOT_INT",
        "diff": true,
        "name": "S7Com S7-1500 INT",
        "x": 170,
        "y": 1100,
        "wires": [
            [
                "c7e1fb9c232f789a",
                "1f790c6286d1cfa2"
            ]
        ]
    },
    {
        "id": "08dbe4f133daafb9",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=5;s=S7.Bool",
        "datatype": "Boolean",
        "value": "",
        "name": "WRITE-ITEM",
        "x": 590,
        "y": 1020,
        "wires": [
            [
                "3ad4d78685501b30"
            ]
        ]
    },
    {
        "id": "c7e1fb9c232f789a",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=5;s=S7.Int",
        "datatype": "Int32",
        "value": "",
        "name": "WRITE-ITEM",
        "x": 590,
        "y": 1100,
        "wires": [
            [
                "3ad4d78685501b30"
            ]
        ]
    },
    {
        "id": "bf163c9187a19624",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=5;s=S7.Real",
        "datatype": "Float",
        "value": "",
        "name": "WRITE-ITEM",
        "x": 590,
        "y": 1060,
        "wires": [
            [
                "3ad4d78685501b30"
            ]
        ]
    },
    {
        "id": "bc698b9b958f1c15",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=5;s=S7.Time",
        "datatype": "DateTime",
        "value": "",
        "name": "WRITE-ITEM",
        "x": 590,
        "y": 1140,
        "wires": [
            [
                "3ad4d78685501b30"
            ]
        ]
    },
    {
        "id": "fde1c99fc4de162d",
        "type": "OpcUa-Client",
        "z": "fd4b5ffea49ae0ba",
        "endpoint": "a1f0d7db0323ab7e",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 640,
        "y": 1320,
        "wires": [
            [
                "d25aaae0c1ee6b13"
            ],
            []
        ]
    },
    {
        "id": "2cb89c068306fc0b",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=5;s=S7.Bool",
        "datatype": "Boolean",
        "value": "",
        "name": "READ-ITEM",
        "x": 430,
        "y": 1260,
        "wires": [
            [
                "fde1c99fc4de162d"
            ]
        ]
    },
    {
        "id": "b964be8214534dbb",
        "type": "inject",
        "z": "fd4b5ffea49ae0ba",
        "name": "Read Values ever 5s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 200,
        "y": 1260,
        "wires": [
            [
                "2cb89c068306fc0b",
                "cbe1c761ef3c1aba",
                "bcab1353cfc8d845",
                "a24436d0bdc80f60"
            ]
        ]
    },
    {
        "id": "cbe1c761ef3c1aba",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=5;s=S7.Int",
        "datatype": "Int32",
        "value": "",
        "name": "READ-ITEM",
        "x": 430,
        "y": 1300,
        "wires": [
            [
                "fde1c99fc4de162d"
            ]
        ]
    },
    {
        "id": "bcab1353cfc8d845",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=5;s=S7.Real",
        "datatype": "Float",
        "value": "",
        "name": "READ-ITEM",
        "x": 430,
        "y": 1340,
        "wires": [
            [
                "fde1c99fc4de162d"
            ]
        ]
    },
    {
        "id": "a24436d0bdc80f60",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=5;s=S7.Time",
        "datatype": "DateTime",
        "value": "",
        "name": "READ-ITEM",
        "x": 430,
        "y": 1380,
        "wires": [
            [
                "fde1c99fc4de162d"
            ]
        ]
    },
    {
        "id": "d25aaae0c1ee6b13",
        "type": "join",
        "z": "fd4b5ffea49ae0ba",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 830,
        "y": 1320,
        "wires": [
            [
                "eadafca6740a6b85"
            ]
        ]
    },
    {
        "id": "164c11f4143955fb",
        "type": "debug",
        "z": "fd4b5ffea49ae0ba",
        "name": "Read Output S7Communication",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 1320,
        "wires": []
    },
    {
        "id": "a2548427d8893be0",
        "type": "comment",
        "z": "fd4b5ffea49ae0ba",
        "name": "Read S7Communication Values from IOT2050 OPC UA",
        "info": "",
        "x": 260,
        "y": 1220,
        "wires": []
    },
    {
        "id": "eadafca6740a6b85",
        "type": "change",
        "z": "fd4b5ffea49ae0ba",
        "name": "name msg: S7",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "S7",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 1320,
        "wires": [
            [
                "164c11f4143955fb"
            ]
        ]
    },
    {
        "id": "4cb0db1170fee52f",
        "type": "comment",
        "z": "fd4b5ffea49ae0ba",
        "name": "Write Values from Modbus",
        "info": "",
        "x": 170,
        "y": 1460,
        "wires": []
    },
    {
        "id": "adc980a57987a319",
        "type": "OpcUa-Client",
        "z": "fd4b5ffea49ae0ba",
        "endpoint": "a1f0d7db0323ab7e",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 640,
        "y": 1800,
        "wires": [
            [
                "42484273ba1b066e"
            ],
            []
        ]
    },
    {
        "id": "f1583e521edeb9bc",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=5;s=Modbus.Bool",
        "datatype": "Boolean",
        "value": "",
        "name": "READ-ITEM",
        "x": 430,
        "y": 1740,
        "wires": [
            [
                "adc980a57987a319"
            ]
        ]
    },
    {
        "id": "b3330bfc93e03146",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=5;s=Modbus.Int",
        "datatype": "Int32",
        "value": "",
        "name": "READ-ITEM",
        "x": 430,
        "y": 1780,
        "wires": [
            [
                "adc980a57987a319"
            ]
        ]
    },
    {
        "id": "f32b213dd8dba5ba",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=5;s=Modbus.Real",
        "datatype": "Float",
        "value": "",
        "name": "READ-ITEM",
        "x": 430,
        "y": 1820,
        "wires": [
            [
                "adc980a57987a319"
            ]
        ]
    },
    {
        "id": "e8376765711ef07a",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=5;s=Modbus.Time",
        "datatype": "DateTime",
        "value": "",
        "name": "READ-ITEM",
        "x": 430,
        "y": 1860,
        "wires": [
            [
                "adc980a57987a319"
            ]
        ]
    },
    {
        "id": "42484273ba1b066e",
        "type": "join",
        "z": "fd4b5ffea49ae0ba",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 830,
        "y": 1800,
        "wires": [
            [
                "4e1d07da3ba7f3cb"
            ]
        ]
    },
    {
        "id": "e52c0c67bdbdfd93",
        "type": "debug",
        "z": "fd4b5ffea49ae0ba",
        "name": "Read Output Modbus",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 1800,
        "wires": []
    },
    {
        "id": "4e1d07da3ba7f3cb",
        "type": "change",
        "z": "fd4b5ffea49ae0ba",
        "name": "name msg: Modbus",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Modbus",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1800,
        "wires": [
            [
                "e52c0c67bdbdfd93"
            ]
        ]
    },
    {
        "id": "1c1e28fb6ee22bea",
        "type": "inject",
        "z": "fd4b5ffea49ae0ba",
        "name": "Read Values ever 5s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 200,
        "y": 1740,
        "wires": [
            [
                "f1583e521edeb9bc",
                "b3330bfc93e03146",
                "f32b213dd8dba5ba",
                "e8376765711ef07a"
            ]
        ]
    },
    {
        "id": "a34819b1809d53c9",
        "type": "comment",
        "z": "fd4b5ffea49ae0ba",
        "name": "Read Modbus Values from IOT2050 OPC UA",
        "info": "",
        "x": 230,
        "y": 1700,
        "wires": []
    },
    {
        "id": "57936ee5f2397bf0",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=5;s=Modbus.Bool",
        "datatype": "Boolean",
        "value": "",
        "name": "WRITE-ITEM",
        "x": 730,
        "y": 1500,
        "wires": [
            [
                "1cc309746187aaac"
            ]
        ]
    },
    {
        "id": "6c06fffc0891a89c",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=5;s=Modbus.Int",
        "datatype": "Int32",
        "value": "",
        "name": "WRITE-ITEM",
        "x": 730,
        "y": 1580,
        "wires": [
            [
                "1cc309746187aaac"
            ]
        ]
    },
    {
        "id": "fd5be26cf09c52b5",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=5;s=Modbus.Real",
        "datatype": "Float",
        "value": "",
        "name": "WRITE-ITEM",
        "x": 730,
        "y": 1540,
        "wires": [
            [
                "1cc309746187aaac"
            ]
        ]
    },
    {
        "id": "2a01506dcf8d4645",
        "type": "change",
        "z": "fd4b5ffea49ae0ba",
        "name": "Bool Output",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.IOT_BOOL",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1500,
        "wires": [
            [
                "57936ee5f2397bf0"
            ]
        ]
    },
    {
        "id": "8faadaeff9953a49",
        "type": "change",
        "z": "fd4b5ffea49ae0ba",
        "name": "Real Output",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.IOT_REAL",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1540,
        "wires": [
            [
                "fd5be26cf09c52b5"
            ]
        ]
    },
    {
        "id": "676fce6652fea56e",
        "type": "change",
        "z": "fd4b5ffea49ae0ba",
        "name": "Real Output",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.IOT_INT",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1580,
        "wires": [
            [
                "6c06fffc0891a89c"
            ]
        ]
    },
    {
        "id": "82dee566794d8fcf",
        "type": "OpcUa-Item",
        "z": "fd4b5ffea49ae0ba",
        "item": "ns=5;s=Modbus.Time",
        "datatype": "DateTime",
        "value": "",
        "name": "WRITE-ITEM",
        "x": 730,
        "y": 1620,
        "wires": [
            [
                "1cc309746187aaac"
            ]
        ]
    },
    {
        "id": "3d5e5b8fcf4e7baf",
        "type": "change",
        "z": "fd4b5ffea49ae0ba",
        "name": "TIME",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 660,
        "wires": [
            [
                "bc4d1d4e9c66040e"
            ]
        ]
    },
    {
        "id": "1f790c6286d1cfa2",
        "type": "change",
        "z": "fd4b5ffea49ae0ba",
        "name": "TIME",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1140,
        "wires": [
            [
                "bc698b9b958f1c15"
            ]
        ]
    },
    {
        "id": "8c47f4dc9dbd208a",
        "type": "change",
        "z": "fd4b5ffea49ae0ba",
        "name": "TIME",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1620,
        "wires": [
            [
                "82dee566794d8fcf"
            ]
        ]
    },
    {
        "id": "1cc309746187aaac",
        "type": "OpcUa-Client",
        "z": "fd4b5ffea49ae0ba",
        "endpoint": "a1f0d7db0323ab7e",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 980,
        "y": 1560,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d2efca532d2a0242",
        "type": "OpcUa-Client",
        "z": "fd4b5ffea49ae0ba",
        "endpoint": "a1f0d7db0323ab7e",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 980,
        "y": 600,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9964c6a855d14944",
        "type": "OPCUA-IIoT-Server-Command",
        "z": "9e98528a1a8ac073",
        "commandtype": "restart",
        "nodeId": "",
        "name": "warm restart with defaults",
        "x": 330,
        "y": 140,
        "wires": [
            [
                "46ba6b0a0309a386"
            ]
        ]
    },
    {
        "id": "bcc7e7a7012979b1",
        "type": "OPCUA-IIoT-Inject",
        "z": "9e98528a1a8ac073",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "",
        "addressSpaceItems": [],
        "x": 140,
        "y": 140,
        "wires": [
            [
                "9964c6a855d14944"
            ]
        ]
    },
    {
        "id": "96d5b418c0761ba8",
        "type": "debug",
        "z": "9e98528a1a8ac073",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "46ba6b0a0309a386",
        "type": "OPCUA-IIoT-Flex-Server",
        "z": "9e98528a1a8ac073",
        "port": "55491",
        "endpoint": "",
        "acceptExternalCommands": true,
        "maxAllowedSessionNumber": "",
        "maxConnectionsPerEndpoint": "",
        "maxAllowedSubscriptionNumber": "",
        "alternateHostname": "",
        "name": "",
        "showStatusActivities": false,
        "showErrors": true,
        "allowAnonymous": true,
        "individualCerts": false,
        "isAuditing": false,
        "serverDiscovery": true,
        "users": [],
        "xmlsets": [],
        "publicCertificateFile": "",
        "privateCertificateFile": "",
        "registerServerMethod": "1",
        "discoveryServerEndpointUrl": "",
        "capabilitiesForMDNS": "",
        "maxNodesPerRead": "",
        "maxNodesPerBrowse": "",
        "delayToClose": "",
        "addressSpaceScript": "function constructAlarmAddressSpace(server, addressSpace, eventObjects, done) {\n    // server = the created node-opcua server\n    // addressSpace = script placeholder\n    // eventObjects = to hold event variables in memory from this script\n\n    // internal global sandbox objects are \n    // node = node of the flex server, \n    // coreServer = core iiot server object for debug and access to nodeOPCUA,\n    // and scriptObjects to hold variables and functions\n    const LocalizedText = opcua.LocalizedText;\n    const namespace = addressSpace.getOwnNamespace();\n\n    coreServer.internalDebugLog('Inicio dinámico de espacio de direcciones')\n    node.warn('Construyendo espacio de direcciones para servidor de OPC UA en 55489')\n\n    const Variant = opcua.Variant;\n    const DataType = opcua.DataType;\n    const DataValue = opcua.DataValue;\n\n    coreServer.internalDebugLog(\"init dynamic address space\");\n    const rootFolder = addressSpace.findNode(\"RootFolder\");\n\n    const myDevice = namespace.addFolder(rootFolder.objects, {\n        \"browseName\": \"Mis_Variables_libres\"\n    });\n    namespace.addVariable({\n        organizedBy: myDevice,\n        browseName: \"Var_BOOL\",\n        nodeId: \"ns=1;s=Var_BOOL\",\n        dataType: \"Boolean\",\n        value: {\n            get: function () {\n                return new opcua.Variant({ dataType: opcua.DataType.Boolean, value: true });\n            },\n            set: function (variant) {\n                return opcua.StatusCodes.Good;\n            }\n        }\n    });\n\n    namespace.addVariable({\n        organizedBy: myDevice,\n        browseName: \"Var_INT\",\n        nodeId: \"ns=1;s=Var_INT\",\n        dataType: \"Int16\",\n        value: {\n            get: function () {\n                return new opcua.Variant({ dataType: opcua.DataType.Int16, value: -3649 });\n            },\n            set: function (variant) {\n                return opcua.StatusCodes.Good;\n            }\n        }\n    });\n\n    namespace.addVariable({\n        organizedBy: myDevice,\n        browseName: \"Var_Double\",\n        nodeId: \"ns=1;s=Var_Double\",\n        dataType: \"Double\",\n        value: {\n            get: function () {\n                return new opcua.Variant({ dataType: opcua.DataType.Double, value: 10.3 });\n            },\n            set: function (variant) {\n                return opcua.StatusCodes.Good;\n            }\n        }\n    });\n\n    namespace.addVariable({\n        organizedBy: myDevice,\n        browseName: \"Var_STRING\",\n        nodeId: \"ns=1;s=Var_STRING\",\n        dataType: \"String\",\n        value: {\n            get: function () {\n                return new opcua.Variant({ dataType: opcua.DataType.String, value: \"Hola Mundo MI4.0\" });\n            },\n            set: function (variant) {\n                return opcua.StatusCodes.Good;\n            }\n        }\n    });\n    coreServer.internalDebugLog(\"Creación dinaámica de espacio de direcciones lista\");\n    node.warn(\"Contrucción de espacio de direcciones para servidor de OPC UA en 55489 listo\");\n\n    done();\n}",
        "x": 530,
        "y": 140,
        "wires": [
            [
                "96d5b418c0761ba8"
            ]
        ]
    },
    {
        "id": "895e562a824a0479",
        "type": "catch",
        "z": "9e98528a1a8ac073",
        "name": "",
        "scope": null,
        "x": 140,
        "y": 80,
        "wires": [
            [
                "63360aecbe74d5b6"
            ]
        ]
    },
    {
        "id": "63360aecbe74d5b6",
        "type": "debug",
        "z": "9e98528a1a8ac073",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 80,
        "wires": []
    },
    {
        "id": "eacec11f14c4433f",
        "type": "OPCUA-IIoT-Response",
        "z": "9e98528a1a8ac073",
        "name": "",
        "compressStructure": true,
        "showStatusActivities": false,
        "showErrors": false,
        "activateFilters": false,
        "filters": [],
        "x": 610,
        "y": 300,
        "wires": [
            [
                "2399803ef436a77a"
            ]
        ]
    },
    {
        "id": "d1773b9e76702806",
        "type": "debug",
        "z": "9e98528a1a8ac073",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "524dd108ec40ea9f",
        "type": "OPCUA-IIoT-Inject",
        "z": "9e98528a1a8ac073",
        "injectType": "write",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "startDelay": "",
        "name": "inject",
        "addressSpaceItems": [
            {
                "name": "",
                "nodeId": "ns=1;s=OilTankNumber",
                "datatypeName": "Byte"
            },
            {
                "name": "",
                "nodeId": "ns=1;s=TestReadWrite",
                "datatypeName": "Double"
            }
        ],
        "x": 130,
        "y": 300,
        "wires": [
            [
                "b8470569c6b35699"
            ]
        ]
    },
    {
        "id": "b8470569c6b35699",
        "type": "function",
        "z": "9e98528a1a8ac073",
        "name": "values to",
        "func": "let uint8 = new Uint8Array([2])\nmsg.valuesToWrite = [uint8[0], 20.33];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 300,
        "wires": [
            [
                "d1773b9e76702806",
                "93ba75eb6c9818bc"
            ]
        ]
    },
    {
        "id": "48e3bf891e6340b4",
        "type": "OPCUA-IIoT-Inject",
        "z": "9e98528a1a8ac073",
        "injectType": "write",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "inject",
        "addressSpaceItems": [
            {
                "name": "",
                "nodeId": "ns=1;s=OilTankNumber",
                "datatypeName": "Byte"
            },
            {
                "name": "",
                "nodeId": "ns=1;s=TestReadWrite",
                "datatypeName": "Double"
            }
        ],
        "x": 130,
        "y": 380,
        "wires": [
            [
                "1cdb7115d3474b87"
            ]
        ]
    },
    {
        "id": "1cdb7115d3474b87",
        "type": "OPCUA-IIoT-Read",
        "z": "9e98528a1a8ac073",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "77fdc29e.3c49ec",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 290,
        "y": 380,
        "wires": [
            [
                "735c8353fde5aa91"
            ]
        ]
    },
    {
        "id": "4dc62287dda5244e",
        "type": "debug",
        "z": "9e98528a1a8ac073",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 630,
        "y": 380,
        "wires": []
    },
    {
        "id": "2399803ef436a77a",
        "type": "debug",
        "z": "9e98528a1a8ac073",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 770,
        "y": 300,
        "wires": []
    },
    {
        "id": "735c8353fde5aa91",
        "type": "OPCUA-IIoT-Response",
        "z": "9e98528a1a8ac073",
        "name": "",
        "compressStructure": true,
        "showStatusActivities": false,
        "showErrors": false,
        "activateUnsetFilter": false,
        "activateFilters": false,
        "negateFilter": false,
        "filters": [],
        "x": 470,
        "y": 380,
        "wires": [
            [
                "4dc62287dda5244e"
            ]
        ]
    },
    {
        "id": "93ba75eb6c9818bc",
        "type": "OPCUA-IIoT-Write",
        "z": "9e98528a1a8ac073",
        "connector": "77fdc29e.3c49ec",
        "name": "",
        "justValue": false,
        "showStatusActivities": false,
        "showErrors": true,
        "x": 450,
        "y": 300,
        "wires": [
            [
                "eacec11f14c4433f"
            ]
        ]
    },
    {
        "id": "7130e2b7.118f4c",
        "type": "inject",
        "z": "96df9d1b.b1b87",
        "name": "",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "f7acaa05.137278"
            ]
        ]
    },
    {
        "id": "f7acaa05.137278",
        "type": "function",
        "z": "96df9d1b.b1b87",
        "name": "set flow context Inputs",
        "func": "// flow.set('isoInput1', Math.random() + 11.0) interval comes from server\nflow.set('isoInput2', Math.random() + 12.0)\nflow.set('isoInput3', Math.random() + 13.0)\nflow.set('isoInput4', Math.random() + 14.0)\nflow.set('isoInput5', Math.random() + 15.0)\nflow.set('isoInput6', Math.random() + 16.0)\nflow.set('isoInput7', Math.random() + 17.0)\nflow.set('isoInput8', Math.random() + 18.0)\n\nmsg.payload = [\n    flow.get('isoInput1'),\n    flow.get('isoInput2'),\n    flow.get('isoInput3'),\n    flow.get('isoInput4'),\n    flow.get('isoInput5'),\n    flow.get('isoInput6'),\n    flow.get('isoInput7'),\n    flow.get('isoInput8'),\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 120,
        "wires": [
            [
                "297389f1.32cfb6"
            ]
        ]
    },
    {
        "id": "297389f1.32cfb6",
        "type": "debug",
        "z": "96df9d1b.b1b87",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 720,
        "y": 120,
        "wires": []
    },
    {
        "id": "32e33b26.ffaa34",
        "type": "function",
        "z": "96df9d1b.b1b87",
        "name": "set flow context Outputs",
        "func": "// flow.set('isoOutput1', Math.random() + 1.0) interval comes from server\nflow.set('isoOutput2', Math.random() + 2.0)\nflow.set('isoOutput3', Math.random() + 3.0)\nflow.set('isoOutput4', Math.random() + 4.0)\nflow.set('isoOutput5', Math.random() + 5.0)\nflow.set('isoOutput6', Math.random() + 6.0)\nflow.set('isoOutput7', Math.random() + 7.0)\nflow.set('isoOutput8', Math.random() + 8.0)\n\nmsg.payload = [\n    flow.get('isoOutput1'),\n    flow.get('isoOutput2'),\n    flow.get('isoOutput3'),\n    flow.get('isoOutput4'),\n    flow.get('isoOutput5'),\n    flow.get('isoOutput6'),\n    flow.get('isoOutput7'),\n    flow.get('isoOutput8'),\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 180,
        "wires": [
            [
                "463d4abe.8847ec"
            ]
        ]
    },
    {
        "id": "10b25957.46f07f",
        "type": "inject",
        "z": "96df9d1b.b1b87",
        "name": "",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "32e33b26.ffaa34"
            ]
        ]
    },
    {
        "id": "463d4abe.8847ec",
        "type": "debug",
        "z": "96df9d1b.b1b87",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 720,
        "y": 180,
        "wires": []
    },
    {
        "id": "af7aa8a.6c2e058",
        "type": "OPCUA-IIoT-Flex-Server",
        "z": "96df9d1b.b1b87",
        "port": "55480",
        "endpoint": "",
        "acceptExternalCommands": true,
        "maxAllowedSessionNumber": "",
        "maxConnectionsPerEndpoint": "",
        "maxAllowedSubscriptionNumber": "",
        "alternateHostname": "",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "allowAnonymous": true,
        "individualCerts": false,
        "isAuditing": false,
        "serverDiscovery": true,
        "users": [],
        "xmlsets": [],
        "publicCertificateFile": "",
        "privateCertificateFile": "",
        "registerServerMethod": "1",
        "discoveryServerEndpointUrl": "",
        "capabilitiesForMDNS": "",
        "maxNodesPerRead": 1000,
        "maxNodesPerBrowse": 2000,
        "delayToClose": 1000,
        "addressSpaceScript": "function constructAlarmAddressSpace(server, addressSpace, eventObjects, done) {\n    // server = the created node-opcua server\n    // addressSpace = script placeholder\n    // eventObjects = to hold event variables in memory from this script\n    \n    // internal global sandbox objects are \n    // node = node of the flex server, \n    // coreServer = core iiot server object for debug and access to nodeOPCUA,\n    // and scriptObjects to hold variables and functions\n    const LocalizedText = opcua.LocalizedText;\n    const namespace = addressSpace.getOwnNamespace();\n    \n    coreServer.internalDebugLog('init dynamic address space')\n    node.warn('construct new address space for OPC UA')\n    \n    const Variant = opcua.Variant;\n    const DataType = opcua.DataType;\n    const DataValue = opcua.DataValue;\n    \n    var flexServerInternals = this;\n    \n    this.sandboxFlowContext.set(\"isoInput1\", 0);\n    this.sandboxFlowContext.set(\"isoInput2\", 0);\n    this.sandboxFlowContext.set(\"isoInput3\", 0);\n    this.sandboxFlowContext.set(\"isoInput4\", 0);\n    this.sandboxFlowContext.set(\"isoInput5\", 0);\n    this.sandboxFlowContext.set(\"isoInput6\", 0);\n    this.sandboxFlowContext.set(\"isoInput7\", 0);\n    this.sandboxFlowContext.set(\"isoInput8\", 0);\n    \n    this.sandboxFlowContext.set(\"isoOutput1\", 0);\n    this.sandboxFlowContext.set(\"isoOutput2\", 0);\n    this.sandboxFlowContext.set(\"isoOutput3\", 0);\n    this.sandboxFlowContext.set(\"isoOutput4\", 0);\n    this.sandboxFlowContext.set(\"isoOutput5\", 0);\n    this.sandboxFlowContext.set(\"isoOutput6\", 0);\n    this.sandboxFlowContext.set(\"isoOutput7\", 0);\n    this.sandboxFlowContext.set(\"isoOutput8\", 0);\n    \n    coreServer.internalDebugLog(\"init dynamic address space\");\n    const rootFolder = addressSpace.findNode(\"RootFolder\");\n    \n    node.warn(\"construct new address space for OPC UA\");\n    \n    const myDevice = namespace.addFolder(rootFolder.objects, {\n    \"browseName\": \"RaspberryPI-Zero-WLAN\"\n    });\n    const gpioFolder = namespace.addFolder(myDevice, { \"browseName\": \"GPIO\" });\n    const isoInputs = namespace.addFolder(gpioFolder, {\n    \"browseName\": \"Inputs\"\n    });\n    const isoOutputs = namespace.addFolder(gpioFolder, {\n    \"browseName\": \"Outputs\"\n    });\n    \n    const gpioDI1 = namespace.addVariable({\n    \"organizedBy\": isoInputs,\n    \"browseName\": \"I1\",\n    \"nodeId\": \"ns=1;s=Isolated_Input1\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoInput1\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoInput1\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDI2 = namespace.addVariable({\n    \"organizedBy\": isoInputs,\n    \"browseName\": \"I2\",\n    \"nodeId\": \"ns=1;s=Isolated_Input2\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoInput2\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoInput2\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDI3 = namespace.addVariable({\n    \"organizedBy\": isoInputs,\n    \"browseName\": \"I3\",\n    \"nodeId\": \"ns=1;s=Isolated_Input3\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoInput3\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoInput3\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDI4 = namespace.addVariable({\n    \"organizedBy\": isoInputs,\n    \"browseName\": \"I4\",\n    \"nodeId\": \"ns=1;s=Isolated_Input4\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoInput4\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoInput4\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDI5 = namespace.addVariable({\n    \"organizedBy\": isoInputs,\n    \"browseName\": \"I5\",\n    \"nodeId\": \"ns=1;s=Isolated_Input5\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoInput5\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoInput5\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDI6 = namespace.addVariable({\n    \"organizedBy\": isoInputs,\n    \"browseName\": \"I6\",\n    \"nodeId\": \"ns=1;s=Isolated_Input6\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoInput6\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoInput6\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDI7 = namespace.addVariable({\n    \"organizedBy\": isoInputs,\n    \"browseName\": \"I7\",\n    \"nodeId\": \"ns=1;s=Isolated_Input7\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoInput7\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoInput7\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDI8 = namespace.addVariable({\n    \"organizedBy\": isoInputs,\n    \"browseName\": \"I8\",\n    \"nodeId\": \"ns=1;s=Isolated_Input8\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoInput8\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoInput8\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDO1 = namespace.addVariable({\n    \"organizedBy\": isoOutputs,\n    \"browseName\": \"O1\",\n    \"nodeId\": \"ns=1;s=Isolated_Output1\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoOutput1\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoOutput1\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDO2 = namespace.addVariable({\n    \"organizedBy\": isoOutputs,\n    \"browseName\": \"O2\",\n    \"nodeId\": \"ns=1;s=Isolated_Output2\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoOutput2\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoOutput2\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDO3 = namespace.addVariable({\n    \"organizedBy\": isoOutputs,\n    \"browseName\": \"O3\",\n    \"nodeId\": \"ns=1;s=Isolated_Output3\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoOutput3\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoOutput3\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDO4 = namespace.addVariable({\n    \"organizedBy\": isoOutputs,\n    \"browseName\": \"O4\",\n    \"nodeId\": \"ns=1;s=Isolated_Output4\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoOutput4\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoOutput4\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDO5 = namespace.addVariable({\n    \"organizedBy\": isoOutputs,\n    \"browseName\": \"O5\",\n    \"nodeId\": \"ns=1;s=Isolated_Output5\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoOutput5\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoOutput5\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDO6 = namespace.addVariable({\n    \"organizedBy\": isoOutputs,\n    \"browseName\": \"O6\",\n    \"nodeId\": \"ns=1;s=Isolated_Output6\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoOutput6\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoOutput6\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDO7 = namespace.addVariable({\n    \"organizedBy\": isoOutputs,\n    \"browseName\": \"O7\",\n    \"nodeId\": \"ns=1;s=Isolated_Output7\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoOutput7\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoOutput7\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    const gpioDO8 = namespace.addVariable({\n    \"organizedBy\": isoOutputs,\n    \"browseName\": \"O8\",\n    \"nodeId\": \"ns=1;s=Isolated_Output8\",\n    \"dataType\": \"Double\",\n    \"value\": {\n      \"get\": function() {\n        return new Variant({\n          \"dataType\": DataType.Double,\n          \"value\": flexServerInternals.sandboxFlowContext.get(\"isoOutput8\")\n        });\n      },\n      \"set\": function(variant) {\n        flexServerInternals.sandboxFlowContext.set(\n          \"isoOutput8\",\n          parseFloat(variant.value)\n        );\n        return opcua.StatusCodes.Good;\n      }\n    }\n    });\n    \n    //------------------------------------------------------------------------------\n    // Add a view\n    //------------------------------------------------------------------------------\n    const viewDI = namespace.addView({\n    \"organizedBy\": rootFolder.views,\n    \"browseName\": \"RPIW0-Digital-Ins\"\n    });\n    \n    const viewDO = namespace.addView({\n    \"organizedBy\": rootFolder.views,\n    \"browseName\": \"RPIW0-Digital-Outs\"\n    });\n    \n    viewDI.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDI1.nodeId\n    });\n    \n    viewDI.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDI2.nodeId\n    });\n    \n    viewDI.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDI3.nodeId\n    });\n    \n    viewDI.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDI4.nodeId\n    });\n    \n    viewDI.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDI5.nodeId\n    });\n    \n    viewDI.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDI6.nodeId\n    });\n    \n    viewDI.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDI7.nodeId\n    });\n    \n    viewDI.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDI8.nodeId\n    });\n    \n    viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDO1.nodeId\n    });\n    \n    viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDO2.nodeId\n    });\n    \n    viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDO3.nodeId\n    });\n    \n    viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDO4.nodeId\n    });\n    \n    viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDO5.nodeId\n    });\n    \n    viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDO6.nodeId\n    });\n    \n    viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDO7.nodeId\n    });\n    \n    viewDO.addReference({\n    \"referenceType\": \"Organizes\",\n    \"nodeId\": gpioDO8.nodeId\n    });\n    \n    coreServer.internalDebugLog(\"create dynamic address space done\");\n    node.warn(\"construction of new address space for OPC UA done\");\n    \n    done();\n}\n",
        "x": 970,
        "y": 180,
        "wires": [
            []
        ]
    }
]